{layout name="layout" /}

<head>

    <link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/SpeedyShopping/public/homestatic/css/reset.css" type="text/css">
    <link rel="stylesheet" href="/SpeedyShopping/public/homestatic/css/style.css" type="text/css">
    <script src="/SpeedyShopping/public/homestatic/js/modernizr.js"></script>
</head>
<body>
<header>
    <h1>周边送</h1>
</header>
<ul id="cd-gallery-items" class="cd-container">
    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-1.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-2.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-3.jpg" alt="Preview image"></a></li>
            <li class="cd-item-out"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-4.jpg" alt="Preview image"></a></li>
            <!-- <li class="cd-item-out">...</li> -->
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">服装</a></b>
            <em>$9.99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-2.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-3.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-1.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">租车</a></b>
            <em>$9.99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-3.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-1.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-2.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">美食</a></b>
            <em>$9.99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-4.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-1.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-2.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">Product Name</a></b>
            <em>$9.99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-1.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-2.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-3.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">Product Name</a></b>
            <em>$9.99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-2.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-3.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-1.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">Product Name</a></b>
            <em>$9.99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-3.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-2.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-4.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">Product Name</a></b>
            <em>$9.99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-4.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-1.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-2.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">Product Name</a></b>
            <em>$9.99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-1.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-2.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/thumb-3.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">Product Name</a></b>
            <em>$9.99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>
</ul> <!-- cd-gallery-items -->
<script src="/SpeedyShopping/public/homestatic/js/jquery-2.1.1.js"></script>
<script src="/SpeedyShopping/public/homestatic/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>