{layout name="layout" /}

<head>
    <!--<script src="https://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>-->
    <!--<link rel="stylesheet" href="/SpeedyShopping/public/homestatic/css/reset.css" type="text/css">-->
    <!--<link rel="stylesheet" href="/SpeedyShopping/public/homestatic/css/style.css" type="text/css">-->
    <!--<script src="/SpeedyShopping/public/homestatic/js/modernizr.js"></script>-->

</head>
<body>
<header>
    <h1>周边送</h1>









</header>
<ul id="cd-gallery-items" class="cd-container">
    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB1.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB2.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB3.jpg" alt="Preview image"></a></li>
            <li class="cd-item-out"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB4.jpg" alt="Preview image"></a></li>
            <!-- <li class="cd-item-out">...</li> -->
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">零食礼包1400g</a></b>
            <em>$90</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB7.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB8.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB9.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">时尚服装</a></b>
            <em>$99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB10.jpg" alt="Preview image" ></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB1.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB12.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">租车</a></b>
            <em>$99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB13.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB14.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB15.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">洗护</a></b>
            <em>$39</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper" >
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB16.jpg" alt="Preview image" width="100%" height="100%"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB17.jpg" alt="Preview image"width="100%" height="100%"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB18.jpg" alt="Preview image" width="100%" height="100%"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">护肤</a></b>
            <em>$88</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB20.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB21.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB22.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">汽车  一天</a></b>
            <em>$60</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB25.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB24.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB23.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">学习</a></b>
            <em>$9.99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB27.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB28.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB26.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">演出服</a></b>
            <em>$20</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>

    <li>
        <ul class="cd-item-wrapper">
            <li class="cd-item-front"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB31.jpg" alt="Preview image"></a></li>
            <li class="cd-item-middle"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB30.jpg" alt="Preview image"></a></li>
            <li class="cd-item-back"><a href="#0"><img src="/SpeedyShopping/public/homestatic/img/TB29.jpg" alt="Preview image"></a></li>
        </ul> <!-- cd-item-wrapper -->

        <div class="cd-item-info">
            <b><a href="#0">营养保健</a></b>
            <em>$99</em>
        </div> <!-- cd-item-info -->

        <nav>
            <ul class="cd-item-navigation">
                <li><a class="cd-img-replace" href="#0">Prev</a></li>
                <li><a class="cd-img-replace" href="#0">Next</a></li>
            </ul>
        </nav>

        <a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
    </li>
</ul> <!-- cd-gallery-items -->
<script src="/SpeedyShopping/public/homestatic/js/jquery-2.1.1.js"></script>
<script src="/SpeedyShopping/public/homestatic/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>