{layout name="layout" /}
<block name="resources">
{load href="__PUBLIC__/adminzuoce/myadmin.css" /}
</block>
<section id="main">
<div id="con">

<div style="height: 100px"></div>

<div class="row" style="float: right">
    <div class="col-xs-12">
        <form class="form-inline">
            <div class="form-group">
                <label class="sr-only" for="title">标题</label>
                <input name="title" type="text" class="form-control" id="title" placeholder="标题..." value="{:input('get.title')}">
            </div>
            <a href="" ><button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i>&nbsp;搜索</button></a>
        </form>
    </div>
</div>

<table class="table table-hover"  >
    <h3 style="color: #000000" align="center">所有商品</h3>
    <thead>
    <tr class="navbar-inverse">
        <th>序号</th>
        <th>标题</th>
        <th>类型</th>
        <th>价格</th>
        <th>上架时间</th>
        <th>销量</th>
        <th>库存</th>
        <th>评分</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="commodities" id="item" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$item->getData('title')}</td>
        <td>{$item['type']['content']}</td>
        <td>￥{$item->getData('price')}</td>
        <td>{:date('Y-m-d ',$item->getData('creation_time'))}</td>
        <td>{$item->getData('staistics')}</td>
        <td>{$item->getData('repertory')}</td>
        <td>{$item->getData('grade')}</td>
        <td>
            <a href="{:url('admin/commodity/commodityDetailed?id='.$item->getData('id'))}">明细</a> |
            <a href="{:url('admin/commodity/editCommodity?id='.$item->getData('id'))}">编辑</a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>

</div>
</section>