<head>
    <link rel="stylesheet" type="text/css" href="/SpeedyShopping/public/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/SpeedyShopping/public/static/bootstrap/css/style.css">
    <script type="text/javascript" src="/SpeedyShopping/public/static/bootstrap/js/bootstrap.js"></script>
</head>
<body>
<div style="font-color:#">
<nav class="navbar navbar-inverse" role="navigation" id="nav">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">全部商品</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">首页</a></li>
                <li><a href="">服装城</a></li>
                <li>
                    <a href="#">Java</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
          </ul>
        </div>
    </div>
</nav>
</div>
</body>