<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <block name="titel"></block>
    {load href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css" /}
    {load href="__PUBLIC__/static/js/jquery-3.1.1.min.js" /}
    {load href="__PUBLIC__/static/bootstrap/js/bootstrap.min.js" /}

    {load href="__PUBLIC__/zuoce/jquery.js" /}
    {load href="__PUBLIC__/zuoce/zuoce.css" /}
    {load href="__PUBLIC__/login/login.css" /}
    {load href="__PUBLIC__/static/bootstrap/css/cropbox.css" /}
    {load href="__PUBLIC__/static/bootstrap/js/cropbox-min.js" /}
    {load href="__PUBLIC__/adminzuoce/myadmin.css" /}

    <block name="resources"></block>
<body>
<header>
    {include file="./header" /}
</header>
<aside>
    {include file="./left"/}
</aside>
<section id="mymain">
    <div id="con">
        <div style="height: 60px;"></div>
{__CONTENT__}
    </div>
</section>

</body>
</html>