<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="__PUBLIC__/uploads/iocn.png" media="screen" />
    <meta charset="UTF-8">
    <block name="titel"></block>
    {load href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css" /}
    {load href="__PUBLIC__/static/js/jquery-3.1.1.min.js" /}
    {load href="__PUBLIC__/static/bootstrap/js/bootstrap.min.js" /}

    {load href="__PUBLIC__/zuoce/jquery.js" /}
    {load href="__PUBLIC__/zuoce/zuoce.css" /}
    {load href="__PUBLIC__/login/login.css" /}
    {load href="__PUBLIC__/static/bootstrap/css/cropbox.css" /}
    {load href="__PUBLIC__/static/bootstrap/js/cropbox-min.js" /}
    {load href="__PUBLIC__/homestatic/css/myhome.css" /}
    {load href="__PUBLIC__/static/zyupload/jquery-1.7.2.js" /}
    <block name="resources"></block>
<body>
<section id="myhomemain">
    <div id="con">
        <div style="height: 80px;"></div>
            {__CONTENT__}
    </div>
</section>
<header>
    {include file="./header" /}
</header>
</body>
</html>