<div  >
    <img src="__PUBLIC__/homestatic/img/zhoubian.png" style="width: 220px;height: 120px;">
</div>

<div class="container">

    <div class="leftsidebar_box">
        <div class="line"></div>
        <dl class="system_log">
            <dt onClick="changeImage()">超市<b class="caret"></b></dt>
            <dd class="first_dd"><a href="#">食品饮料</a></dd>
            <dd><a href="#">粮油副食</a></dd>
            <dd><a href="#">美容洗护</a></dd>
            <dd><a href="#">家居彩电</a></dd>
            <dd><a href="#">家庭清洁</a></dd>
            <dd><a href="#">生活服务</a></dd>
        </dl>

        <dl class="custom">
            <dt onClick="changeImage()">服装<b class="caret"></b></dt>
            <dd class="first_dd"><a href="#">女装</a></dd>
            <dd><a href="#">男装</a></dd>
            <dd><a href="#">内衣</a></dd>

        </dl>

        <dl class="channel">
            <dt>办公<b class="caret"></b></dt>
            <dd class="first_dd"><a href="#">学习</a></dd>
            <dd><a href="#">书城</a></dd>
            <dd><a href="#">办公用具</a></dd>
        </dl>

        <dl class="app">
            <dt onClick="changeImage()">运动<b class="caret"></b></dt>
            <dd class="first_dd"><a href="#">户外健身必带</a></dd>
            <dd><a href="#">运动鞋</a></dd>

        </dl>

        <dl class="cloud">
            <dt>杂货<b class="caret"></b></dt>
            <dd class="first_dd"><a href="#">餐具</a></dd>
        </dl>

        <dl class="syetem_management">
            <dt>轻松一刻<b class="caret"></b></dt>
            <dd class="first_dd"><a href="#">游戏</a></dd>
            <dd><a href="#">电影</a></dd>
            <dd><a href="#">球赛</a></dd>

        </dl>

        <dl class="source">
            <dt>租车<b class="caret"></b></dt>
            <dd class="first_dd"><a href="#">自行车</a></dd>
            <dd><a href="#">山地车</a></dd>
            <dd><a href="#">汽车</a></dd>
        </dl>

        <dl class="statistics">
            <dt>维修<b class="caret"></b></dt>
            <dd class="first_dd"><a href="#">手机维修</a></dd>
            <dd><a href="#">家电维修</a></dd>
            <dd><a href="#">汽车维修</a></dd>
        </dl>

    </div>

</div>

<script type="text/javascript">
    $(".leftsidebar_box dt").css({"background-color":"#d33724"});
    $(".leftsidebar_box dt img").attr("src","images/left/select_xl01.png");
    $(function(){
        $(".leftsidebar_box dd").hide();
        $(".leftsidebar_box dt").click(function(){
            $(".leftsidebar_box dt").css({"background-color":"#d33724"})
            $(this).css({"background-color": "#d33724"});
            $(this).parent().find('dd').removeClass("menu_chioce");
            $(".leftsidebar_box dt img").attr("src","images/left/select_xl01.png");
            $(this).parent().find('img').attr("src","images/left/select_xl.png");
            $(".menu_chioce").slideUp();
            $(this).parent().find('dd').slideToggle();
            $(this).parent().find('dd').addClass("menu_chioce");
        });
    })
</script>