{layout name="layout" /}
<block name="titel"><title>确认订单!</title></block>
<block name="resources"></block>
<div>
    <span>选择地址</span><br/>
    {volist name="$user['address']" id="item"}
    <label><input type="radio" name="addressId" id="rAddressId_{$item['id']}"
                  value="{$item['id']}" onclick=changeAddress("{$item['id']}")>
        {$item['content']}({$item['user_name']} 收) {$item['phone']}</label>
    <br/>
    <input type="hidden" id="hi_address_content_{$item['id']}" value="{$item['content']}">
    {/volist}
</div>

<div style="width: 90%">
    <span>确认订单信息</span><br/>
    <table class="table table-hover">
        <thead>
        <tr class="info">
            <th>店铺宝贝</th>
            <th>商品规格</th>
            <th>单价</th>
            <th>数量</th>
            <th>小计</th>
        </tr>
        </thead>
        <tbody>
        {volist name="CartSpecifications" id="item"}
        <tr>
            <td>
                <img src="__PUBLIC__/uploads/commodity_images/{$item['Specification']['commodity']['images'][0]['image']}"
                     style="width: 50px; height: 50px" class="img-rounded">
                {$item['Specification']['commodity']['title']}
            </td>
            <td>{$item['Specification']['content']}</td>
            <td>{$item['Specification']['price']}</td>
            <td>{$item['count']}</td>
            <td>{$item['count']*$item['Specification']['price']}</td>
        </tr>
        {/volist}
        </tbody>
    </table>
    <button type="button" class="btn btn-danger" style="float: right" onclick="postBuy()">提交订单</button>
</div>
<form id="post_bay" action="{:url('home/user/placeOrdersHandle')}" method="post">
    <!--标记规格的ID-->
    <input type="hidden" name="cartspeId" id="cartspeId" value="{$cartspeId}">
    <input type="hidden" name="addressId" id="addressId" value="">
</form>

<input type="hidden" id="address_content" value=""/>

<script type="text/javascript">
    function postBuy() {
        var hi_addressId = document.getElementById("addressId");
        if (hi_addressId.value == "") {
            alert("请选择地址！");
        } else {
            var content = document.getElementById("address_content").value;
            if (content.indexOf("柳州") > 0) {
                $("#post_bay").submit();
            } else {
                alert("亲！您的地址不在配送范围！请选择柳州市内的地址！");
            }
        }
    }
    function changeAddress(addressId) {
        var id = document.getElementById("rAddressId_" + addressId).value;
        document.getElementById("addressId").value = "";
        document.getElementById("addressId").value = id;

        var content = document.getElementById("hi_address_content_" + addressId).value;
        document.getElementById("address_content").value = "";
        document.getElementById("address_content").value = content;
    }
</script>