{layout name="layout" /}
<block name="titel"><title>我的周边送</title></block>
<block name="resources">
    {load href="__PUBLIC__/login/login.css" /}
    {load href="__PUBLIC__/homestatic/css/myhome.css" /}
</block>
<style>

    left {
        width: 200px;
        height: 100%;
        border-right: 1px solid #CCCCCC;
        color: #000000;
        font-size: 14px;
        text-align: center;
        position: absolute;
        top: 80px;
        left: 0px;
        bottom: 100px;
        position: fixed;
    }

    .div1 {
        text-align: center;
        width: 200px;
        padding-top: 30px;

    }

    .div2 {
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        font-size: 13px;
        position: relative;
        border-bottom: #ccc 1px dotted;

    }

    .div2 a {
        color: #000000;
    }

    .div2 a:hover {
        color: red;
    }

    .jbsz {
        position: absolute;
        height: 20px;
        width: 20px;
        left: 40px;
        top: 10px;
    }

    .right {
        position: relative;
        left: 250px;
        top: 30px;
        right: 0;
        bottom: 0;
        overflow: hidden;

    }

    .conten_margin {
        /*margin-bottom: 20px;*/
        /*margin-right: 20px;*/
        float: left;
        padding: 5px;

    }

    .conten_margin:hover {
        /*border: 1px solid silver;*/
    }

    .conten_margin .titlea {
        width: 180px;
        overflow: hidden; /*超出的隐藏掉*/
        text-overflow: ellipsis; /*超出的用....*/
        white-space: nowrap; /*不换行*/
        color: #666666;
        font-size: 13px;
    }

    .bordera {
        float: left;
        padding: 5px;
        border: 1px solid silver;
        color: #666666;
        font-size: 13px;

    }

    .bordera:hover {
        border: 1px solid red;
        color: red;
    }

    .borderb {
        float: left;
        padding: 5px;
        border: 1px solid silver;
        color: red;
        font-size: 13px;
    }

    .borderb:hover {
        border: 1px solid red;
    }

    .pricea {
        font-size: 18px;
        color: red;
    }

    .pingjiaa {
        font-size: 13px;
        color: #666666;
    }

    .pingjiab {
        font-size: 18px;
        color: red;
    }

    .img_xing {
        vertical-align: middle;
    }

    .btn_guanzhu {
        border: 0;
        background: #F4F4F4;
        vertical-align: middle;
        font-size: 13px;
    }

    #myhomem {
        position: absolute;
        left: 300px;
        top: 30px;
        right: 0px;
        bottom: 0;
        overflow: hidden;
    }
</style>
<asidehome>
    <div class="left">
        <div class="div1">
            <div class="div2">
                <div class="div2" style="font-size:25px;font-family: '楷体', '微软雅黑'">
                    <h2>全部功能</h2>
                </div>
                <div class="div2">
                    <div class="div2">
                        <div class="jbsz"></div>
                        <a href="javascript:void(0)" onclick="changeMenu('collect')">我的收藏</a></div>
                    <div class="div2">
                        <div class="jbsz"></div>
                        <a href="javascript:void(0)" onclick="changeMenu('order')">全部订单</a>
                    </div>
                    <div class="div2">
                        <div class="jbsz"></div>
                        <a href="javascript:void(0)" onclick="changeMenu('cart')">我的购物车</a></div>
                    <div class="div2">
                        <div class="jbsz"></div>
                        <a href="">我的评价</a></div>
                    <div class="div2">
                        <div class="jbsz"></div>
                        <a>退换货</a></div>

                </div>
            </div>
        </div>
    </div>
</asidehome>
<div id="myhomem">
    <div id="con">
        <div id="box_userMsg">
            <div id="box_user">
                <img src="{$iconRoot.$user['icon']}" height="80px" width="80px">&nbsp;&nbsp;&nbsp;
                <span><a href="{:url('home/user/userMessage')}">{$user['user_name']}</a></span>
            </div>
            <div id="box_userSta"></div>
        </div>
        <table border="1" width="700px">
            <tr>
                <th>待付款
                <td><i style="color: red">0</i></td>
                </th>
                <th>待发货
                <td><i style="color: red">0</i></td>
                </th>
                <th>待收货
                <td><i style="color: red">0</i></td>
                </th>
                <th>待评价
                <td><i style="color: red">0</i></td>
                </th>
                <th>退款返修
                <td><i style="color: red">0</i></td>
                </th>
                </th>
            </tr>
        </table>
        <div style="height: 10px"></div>
        <!--第一层开始【收藏】-->
        <div id="box_collects_content">
            <span style="font-family: '楷体', '微软雅黑';font-size:30px;color: #9f191f">我收藏的宝贝</span>
            <div style="height: 10px"></div>
            <div id="box_collects" style="background-color: #00A2D4">
                {if condition="count($userCollects)>0"}
                {volist name="userCollects" id="item"}

                <div class="conten_margin" id="box_{$item['commodity']['id']}">
                    <a href="{:url('home/commodity/commodityDetailed?id='.$item['commodity']['id'])}">
                        <img src="{$imgRoot}{$item['commodity']['images'][0]['image']}"
                             style="height: 220px;width: 180px;"/></a>
                    <section class="pricea">&yen;{$item['commodity']['specifications'][0]['price']}</section>
                    <section class="titlea">{$item['commodity']['title']}</section>
                    <section class="pingjiaa">已有<i class="pingjiab">{:count($item['commodity']['comments'])}</i>人评价
                    </section>

                    <section class="bordera" onmouseover=over_id("x_{$item['commodity']['id']}");
                             onmouseout=out_id("x_{$item['commodity']['id']}");
                             onclick=userCollect("{$item['commodity']['id']}")>
                        <img class="img_xing" id="x_{$item['commodity']['id']}" src="__PUBLIC__/wei/images/hongxing.png"
                             style="width: 20px;height: 20px;">
                        <button class="btn_guanzhu">关注</button>
                    </section>

                    <section class="borderb" onmouseover=over_aid("g_{$item['commodity']['id']}");
                             onmouseout=out_aid("g_{$item['commodity']['id']}");
                             onclick=addToCart("{$item['commodity']['id']}")>
                        <img class="img_xing" id="g_{$item['commodity']['id']}"
                             src="__PUBLIC__/wei/images/baigouwuche.png"
                             style="width: 20px;height: 20px;">
                        <button class="btn_guanzhu">加入购物车</button>
                    </section>
                </div>

                {/volist}
                {else /}
                <span>收藏夹空空如也...快去发现点干货吧~<a href="#">好货街</a></span>
                {/if}
            </div>
        </div>
        <!--第一层结束【收藏】-->

        <!--第二层开始【我的订单】-->
        <div id="box_order_content" style="display: none;">
            <span style="font-family: '楷体', '微软雅黑';font-size:30px;color: #9f191f">我的订单</span>
            <div style="height: 10px"></div>
            {volist name="orders" id="order"}
            <table border="1" style="table-layout: fixed;">
                <tr>
                    <th rowspan="3">
                        <img src="{$imgRoot}{$order['orderSpecifications'][0]['specification']['commodity']['images'][0]['image']}"
                             style="height: 90px;width: 80px;"/>
                    </th>
                    <td style="text-overflow: ellipsis;overflow:hidden;white-space:nowrap;">
                        {$order['orderSpecifications'][0]['specification']['commodity']['title']}
                    </td>
                    <th rowspan="3">
                        <div style="width: 100px"></div>
                    </th>
                    <th rowspan="3">
                        <span>配送中</span>
                    </th>
                    <th rowspan="3">
                        <div style="width: 100px"></div>
                    </th>
                    <th rowspan="3">
                        <button> 确认收货</button>
                    </th>
                </tr>
                <tr>
                    <td>规格：{$order['orderSpecifications'][0]['specification']['content']}</td>
                </tr>
                <tr>
                    <td>下单时间：{:date('Y-m-d H:i:s',$order['order_time'])}</td>
                </tr>
            </table>
            <hr/>
            {/volist}
        </div>
        <!--第二层结束【我的订单】-->

        <!--第三层开始【购物车】-->
        <div id="box_cart_content" style="display: none;">
            <span>我的购物车</span><br/>
            <table class="table table-hover">
                <thead>
                <tr class="info">
                    <th><label><input type="checkbox" id="all_check" onclick="allCheck()"/>全选</label></th>
                    <th>店铺宝贝</th>
                    <th>商品规格</th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>小计</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <!--item是购物车里的中间表-->
                {volist name="cart['CartSpecifications']" id="item"}
                <tr id="gouwuche_{$item['id']}">
                    <td><input name="one_check" type="checkbox" onclick=checkDoing("{$item['id']}") /></td>
                    <td>
                        <img src="__PUBLIC__/uploads/commodity_images/{$item['Specification']['commodity']['images'][0]['image']}"
                             style="width: 50px; height: 50px">
                        {$item['Specification']['commodity']['title']}
                    </td>
                    <td>{$item['Specification']['content']}</td>
                    <td>{$item['Specification']['price']}</td>
                    <td>
                        <a href="#" onclick=minusCount("{$item['Specification']['price']}","{$item['id']}")>- </a>
                        <span id="c_{$item['id']}">{$item['count']}</span>
                        <a href="#"
                           onclick=addCount("{$item['Specification']['price']}","{$item['id']}","{$item['Specification']['repertory']}")>
                            +</a>
                    </td>
                    <td><span id="x_{$item['id']}" class="xiaoji">{$item['count']*$item['Specification']['price']}</span></td>
                    <td><a href="#" onclick=deleteFromCart("{$item['id']}")><img
                            src="__PUBLIC__/static/images/delete.png" width="20px;" height="20px"></a></td>
                </tr>
                {/volist}

                </tbody>
            </table>
            <table style="float:right;">
                <tr>
                    <th colspan="1"></th>
                    <th>合计：<span id="heji">00.00</span></th>
                    <th><button style="background-color: #d33724;color: #fff" onclick="orderPost()">结算</button></th>
                </tr>
            </table>
        </div>
        <!--第三层结束【购物车】-->
    </div>
    <form action="{:url('home/user/placeOrder')}" method="post" id="CartSpecificationsPost">
        <input type="hidden" name="CartSpecificationsId" id="hi_checkId" value=""/>
    </form>
</div>

<script type="text/javascript">
    //关注（心）图标处理
    function over_id(id) {
        var img = document.getElementById(id);
        var imgOldSrc = img.getAttribute("src");
        if (imgOldSrc.indexOf("hongxing") > 0) {
            img.src = "__PUBLIC__/wei/images/baixing.png";
        } else {
            img.src = "__PUBLIC__/wei/images/hongxing.png";
        }
//        document.getElementById(id).src = "__PUBLIC__/wei/images/hongxing.png"
    }
    function out_id(id) {
        var img = document.getElementById(id);
        var imgOldSrc = img.getAttribute("src");
        if (imgOldSrc.indexOf("hongxing") > 0) {
            img.src = "__PUBLIC__/wei/images/baixing.png";
        } else {
            img.src = "__PUBLIC__/wei/images/hongxing.png";
        }
//        document.getElementById(id).src = "__PUBLIC__/wei/images/baixing.png"
    }
    //购物车图标处理
    function over_aid(id) {
        document.getElementById(id).src = "__PUBLIC__/wei/images/honggouwuche.png"
    }
    function out_aid(id) {
        document.getElementById(id).src = "__PUBLIC__/wei/images/baigouwuche.png"
    }

    //收藏功能
    function userCollect(commodityId) {
//        alert(commodityId);
        var img = document.getElementById("x_" + commodityId);
        var box_commodityId = document.getElementById("box_" + commodityId);
        $.ajax({
            type: "POST",
            url: "{:url('home/user/userCollect')}",
            dataType: "json",
            data: {
                commodityId: commodityId
            },
            success: function (msg) {
                switch (msg) {
                    case "AddCollectSuccess":
                        img.src = "__PUBLIC__/wei/images/hongxing.png";
                        alert("收藏成功！");
                        break;
                    case "CancelCollectSuccess":
                        img.src = "__PUBLIC__/wei/images/baixing.png";
                        //取消关注后移除这件商品
                        box_commodityId.parentNode.removeChild(box_commodityId);
                        alert("期待您下次的宠幸！");
                        break;
                    case "IllegalRequest":
                        //非法请求
                        alert("非法请求");
                        break;
                    case "UserNotLogin":
                        window.location = "{:url('home/thing/login')}";
                        break;
                    case "NotFindCommodity":
                        alert('这件宝贝从地球上消失了~~');
                        break;
                    default:

                }
//                if (msg=="succeed"){
//
//                }else {
//                    alert("登录失败");
//                }
            },
            error: function (msg) {
                alert(msg);
            },
        });
    }
    //添加到购物车
    function addToCart(commodityId) {
        $.ajax({
            type: "POST",
            url: "{:url('home/user/addToCart')}",
            dataType: "json",
            data: {
                commodityId: commodityId,
                specificationId: ""
            },
            success: function (msg) {
                switch (msg) {
                    case "AddCartSuccess":
                        alert("添加进购物车成功！");
                        break;
                    case "NotRepertory":
                        alert("库存不足！店小二正在急忙补货中！");
                        break;
                    case "NotFindSpecification":
                        alert("规格参数不正确");
                        break;
                    case "IllegalRequest":
                        //非法请求
                        alert("非法请求");
                        break;
                    case "UserNotLogin":
                        window.location = "{:url('home/thing/login')}";
                        break;
                    case "NotFindCommodity":
                        alert('这件宝贝从地球上消失了~~');
                        break;
                    default:
                }
            },
            error: function (msg) {
                alert(msg);
            },
        });
    }

    //菜单切换
    function changeMenu(type) {
        switch (type) {
            case "collect":
                document.getElementById("box_cart_content").style.display = "none";//隐藏
                document.getElementById("box_order_content").style.display = "none";//隐藏
                document.getElementById("box_collects_content").style.display = "";//显
                break;
            case "order":
                document.getElementById("box_cart_content").style.display = "none";//隐藏
                document.getElementById("box_collects_content").style.display = "none";//隐藏
                document.getElementById("box_order_content").style.display = "";//显
                break;
            case "cart":
                document.getElementById("box_order_content").style.display = "none";//隐藏
                document.getElementById("box_collects_content").style.display = "none";//隐藏
                document.getElementById("box_cart_content").style.display = "";//显
                break;
        }
    }
</script>

<!--购物车操作-->
<script type="text/javascript">
    function minusCount(price, id) {
        var td_count = document.getElementById("c_" + id);
        var xiaoji = document.getElementById("x_" + id);
        var nowCount = td_count.innerText;
        if (nowCount > 1) {
            $.ajax({
                type: "POST",
                url: "{:url('home/user/cartCommodityCount')}",
                dataType: "json",
                data: {
                    CartSpecificationId: id,
                    type: "minus"
                },
                success: function (msg) {
                    switch (msg) {
                        case "IllegalRequest":
                            //非法请求
                            alert("非法请求");
                            break;
                        case "NotFindCartSpecification":
                            alert('这件宝贝从地球上消失了~~');
                            break;
                        default:
//                            var obj = msg.parseJSON();
//                            alert(obj.state);
                            var count = cartCount();
                            var heji = document.getElementById("heji");
                            heji.innerHTML = "";
                            heji.innerHTML = count;

                    }
                },
                error: function (msg) {
                    alert(msg);
                },
            });
            nowCount = nowCount - 1;
            td_count.innerText = nowCount;
            xiaoji.innerText = (nowCount * price);
        }
    }
    //多一个参数，库存repertory
    function addCount(price, id, repertory) {
//        alert(repertory);
        var td_count = document.getElementById("c_" + id);
        var xiaoji = document.getElementById("x_" + id);
        var nowCount = parseInt(td_count.innerText);
        if (parseInt(repertory) > parseInt(nowCount)) {
            nowCount = nowCount + 1;
            $.ajax({
                type: "POST",
                url: "{:url('home/user/cartCommodityCount')}",
                dataType: "json",
                data: {
                    CartSpecificationId: id,
                    type: "add"
                },
                success: function (msg) {
                    switch (msg) {
                        case "IllegalRequest":
                            //非法请求
                            alert("非法请求");
                            break;
                        case "NotFindCartSpecification":
                            alert('这件宝贝从地球上消失了~~');
                            break;
                        default:
//                            alert(msg);
                            var count = cartCount();
                            var heji = document.getElementById("heji");
                            heji.innerHTML = "";
                            heji.innerHTML = count;
                    }
                },
                error: function (msg) {
                    alert(msg);
                },
            });
            td_count.innerText = nowCount;
            xiaoji.innerText = (nowCount * price);
        } else {
            alert("已经到达购买上限");
        }
    }

    function deleteFromCart(id) {
        if (confirm("你确定要从购物车中移除此商品？")) {
            $.ajax({
                type: "POST",
                url: "{:url('home/user/deleteCommodityFromCart')}",
                dataType: "json",
                data: {
                    CartSpecificationId: id
                },
                success: function (msg) {
                    switch (msg) {
                        case "Success":
                            var delete_tr = document.getElementById("gouwuche_" + id);
                            delete_tr.parentNode.removeChild(delete_tr);
                            //移除成功！重新加载当前页面
//                            location.reload();
                            break;
                        case "IllegalRequest":
                            //非法请求
                            alert("非法请求");
                            break;
                        case "NotFindCartSpecification":
                            alert('这件宝贝从地球上消失了~~');
                            break;
                        default:
                    }
                },
                error: function (msg) {
                    alert(msg);
                },
            });
        }
    }
    //全选/全不选
    function allCheck() {
        var all_check = document.getElementById("all_check");
        var xiaoji = document.getElementsByClassName('xiaoji');
        var len = xiaoji.length;
        var hi_checkId = document.getElementById("hi_checkId");

        if (all_check.checked) {
            hi_checkId.value="";
            var checkId = "";
            for (var i = 0 ;i < len ;i++){
                checkId = checkId+xiaoji[i].id+";";
            }
            hi_checkId.value = checkId;

            $("[name = one_check]:checkbox").attr("checked", true);
        } else {
            $("[name = one_check]:checkbox").attr("checked", false);
            hi_checkId.value="";
        }
        var count = cartCount();
        var heji = document.getElementById("heji");
        heji.innerHTML = "";
        heji.innerHTML = count;
//        alert(hi_checkId.value);
    }

    //统计合计
    function cartCount() {
//        var xiaoji = document.getElementsByClassName('xiaoji');
//        var len = xiaoji.length;
//        var count = 0;
//        for (var i = 0 ;i < len ;i++){
//            count =count + parseFloat(xiaoji[i].innerText);
//        }
//        return count;
        var count = 0;
        var hi_checkId = document.getElementById("hi_checkId");
        if (hi_checkId.value!=""){
            var str = hi_checkId.value.substring(0,hi_checkId.value.length-1);
            var id_array = str.split(";");
            var len = id_array.length;
            for (var i = 0;i < len;i++){
                var xiaoji = document.getElementById(id_array[i]);
                count =count + parseFloat(xiaoji.innerText);
            }
        }else {
            count = 0.00;
        }
        return count;
    }
    
    function checkDoing(id) {
        var hi_checkId = document.getElementById("hi_checkId");
        var trueId = "x_"+id;
        if (hi_checkId.value.indexOf(id)>0){
            hi_checkId.value = hi_checkId.value.replace(trueId+";","");
//            alert("包含："+hi_checkId.value);
        }else {
            hi_checkId.value = hi_checkId.value+trueId+";";
//            alert("不包含："+hi_checkId.value);
        }
//        alert("最终值："+hi_checkId.value);
        var count = cartCount();
        var heji = document.getElementById("heji");
        heji.innerHTML = "";
        heji.innerHTML = count;
    }
    
    function orderPost() {
        var hi_checkId = document.getElementById("hi_checkId");
        if (hi_checkId.value==""){
            alert("请至少选中一件商品");
        }else{
            document.getElementById("CartSpecificationsPost").submit();
        }

    }
</script>


