{layout name="layout" /}
<block name="titel"><title>我的周边送</title></block>
<block name="resources">
    {load href="__PUBLIC__/login/login.css" /}
</block>

<div id="box_left">
    <ul>
        <li>全部功能</li>
        <li>我的收藏</li>
        <li>全部订单</li>
        <li>我的购物车</li>
        <li>我的评价</li>
        <li>退换货</li>
    </ul>
</div>

<div id="box_userMsg">
    <div id="box_user">
        <img src="{$iconRoot.$user['icon']}" height="80px" width="80px">
        <span>{$user['user_name']}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><a href="#">我的收货地址</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><a href="#">我的个人信息</a></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div id="box_userSta"></div>
</div>

<span>我收藏的宝贝：</span>
<div id="box_collects">
    {if condition="count($userCollects)>0"}
    {volist name="userCollects" id="item"}
    <div >
        <div class="conten_margin col-md-" >
            <a href="{:url('home/commodity/commodityDetailed?id='.$item['commodity']['id'])}">
                <img src="{$imgRoot}{$item['commodity']['images'][0]['image']}" style="height: 220px;width: 180px;" /></a>
            <section class="pricea">￥{$item['commodity']['specifications'][0]['price']}</section>
            <section class="titlea">{$item['commodity']['title']}</section>
            <section class="pingjiaa" >已有<i class="pingjiab">{:count($item['commodity']['comments'])}</i>人评价</section>

            <section class="bordera"  onmouseover ="over_id('{$key}');" onmouseout ="out_id('{$key}');" >
                <img class="img_xing" id="b{$key}" src="__PUBLIC__/wei/images/baixing.png"
                     style="width: 20px;height: 20px;" ><button class="btn_guanzhu">关注</button>
            </section>
            <section class="borderb" onmouseover ="over_aid('{$key}');" onmouseout ="out_aid('{$key}');">
                <img class="img_xing" id="a{$key}" src="__PUBLIC__/wei/images/baigouwuche.png"
                     style="width: 20px;height: 20px;" >
                <button class="btn_guanzhu">加入购物车</button>
            </section>

        </div>
    </div>
    {/volist}
    {else /}
    <span>收藏夹空空如也...快去发现点干货吧~<a href="#">好货街</a></span>
    {/if}
</div>
