{layout name="layout" /}
<block name="titel"><title>我的周边送</title></block>
<block name="resources">
    {load href="__PUBLIC__/login/login.css" /}
</block>
<head>
    <link rel="dns-prefetch" href="//g.alicdn.com" />
    <link rel="dns-prefetch" href="//gtms01.alicdn.com" />
    <link rel="dns-prefetch" href="//img.alicdn.com" />
    <link rel="dns-prefetch" href="//gm.mmstat.com" />
    <meta name="data-spm" content="a1z02" />
    <meta name="description" content="中国最大、最安全的网上交易社区，尽享淘宝乐趣！" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />


    <link rel="shortcut icon" href="//img.alicdn.com/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="72x72" href="//img.alicdn.com/tps/i1/T11naSFbdaXXcCcBHm-72-72.png" />
    <link rel="stylesheet" href="//g.alicdn.com/??kg/global-util/1.0.3/index-min.css,kg/tb-nav/1.3.0/index-min.css">
    <script src="//g.alicdn.com/??kissy/k/1.4.16/seed-min.js,kg/kmd-adapter/0.1.5/index.js,kg/kmd-adapter/0.1.5/util.js,kg/global-util/1.0.5/index-min.js,tb/tracker/4.0.1/p/index/index.js,kg/tb-nav/1.2.8/index-min.js"></script>
    <script>KISSY.config({modules:{'flash':{alias:['gallery/flash/1.0/']}}});KISSY.use('kg/global-util/1.0.5/');KISSY.config({modules: {'kg/tb-nav':{alias:'kg/tb-nav/1.2.8/',requires:['kg/global-util/1.0.5/']}}});KISSY.ready(function(){KISSY.use('kg/tb-nav')});</script>

    <link rel="stylesheet" href="//g.alicdn.com/tb/mytaobao/5.0.6/pages/home/init.css" type="text/css" />
    <script type="text/javascript">
        KISSY.add("util", [],function(S,require, exports, module){ module.exports = S; });
        window.MC = {
            "packagesBase":"//g.alicdn.com/tb/mytaobao/5.0.6/"
        };

        var __MT_MENU_FLAGS = {"enableFetchRemoteMenu":true,"showB2BMenu":false};

    </script>
    <script type="text/javascript" src="//g.alicdn.com/tb/??mytaobao/5.0.6/components/common/package-config.js,mytaobao/5.0.6/deps.js"></script>
</head>
<body data-spm="1"><script>
    with(document)with(body)with(insertBefore(createElement("script"),firstChild))setAttribute("exparams","category=&userid=1021795197&aplus&yunid=&GQ3HQU7tkL0E&asid=AAGtdH1Yk4J/1C0C9bo=",id="tb-beacon-aplus",src=(location>"https"?"//g":"//g")+".alicdn.com/alilog/mlog/aplus_v2.js")
</script>

<div class="site-nav" id="J_SiteNav" data-component-config='{ "cart": "0.0.6","message": "3.4.6","umpp": "1.5.4","mini-login": "6.3.8","tb-ie-updater": "0.0.4","tbar": "2.1.0","tb-footer": "1.1.2","sidebar": "1.0.1" }' data-tbar='{ "show":true, "miniCart": "2.12.2", "venueUrl": "https://huodong.taobao.com/wow/tb-20161212/act/zhuhuichang", "helpUrl": "https://consumerservice.taobao.com/online-help?from=activity", "validTime":{"startTime": 1480521600, "endTime": 1481558400}, "style": {"name": "20161212", "path": "kg/sidebar-style-20161212/0.0.4/" }, "page":[],"blackList":[],"navDataId":{"tceSid":1182567,"tceVid":0},"pluginVersion":{ "cart":"0.1.0","history":"0.1.1","redpaper":"0.0.8","my1111":"0.0.4","gotop":"0.1.0","help":"0.1.0","ww":"0.0.3","pagenav":"0.1.1","myasset":"0.0.5","my1212":"0.0.1"}}'>
    <div class="site-nav-bd" id="J_SiteNavBd">

        <ul class="site-nav-bd-l" id="J_SiteNavBdL" data-spm-ab="1">


            <li class="site-nav-menu site-nav-login" id="J_SiteNavLogin" data-name="login" data-spm="754894437">
                <div class="site-nav-menu-hd">
                    <a href="//login.taobao.com/member/login.jhtml?f=top&redirectURL=https%3A%2F%2Fwww.taobao.com%2F" target="_top">

                        <span>亲，请登录</span>
                    </a>

                </div>

            </li>




            <li id="J_Tmsg" class="site-nav-tmsg tmsg site-nav-multi-menu J_MultiMenu" data-name="tmsg" data-spm="1997563201">
                <div class="J_Menu site-nav-menu">
                    <div class="site-nav-menu-hd J_Tmsg_Basic tmsg_basic">
                        <span class="J_Tmsg_Logo tmsg_logo_area" style="zoom:1;">
                            <span class="J_Tmsg_Logo_Loading tmsg_logo_loading"></span>
                            <span class="J_Tmsg_Logo_Icon tmsg_logo_icon site-nav-icon" style="display:none">&#xe602;</span>
                            <span class="J_Tmsg_Logo_Text tmsg_logo_text">消息</span>
                            <span class="J_Tmsg_Logo_Unread tmsg_logo_unread"></span>
                        </span>

                        <span class="site-nav-arrow"><span class="site-nav-icon">&#xe605;</span></span>

                    </div>

                    <div class="site-nav-menu-bd">
                        <div class="J_Tmsg_Panel_Apps tmsg_panel_apps"></div>
                    </div>
                </div>
                <div class="J_Tmsg_Panels tmsg_panels">
                    <div class="J_Tmsg_Panel_Detail tmsg_panel_detail"></div>
                    <div class="J_Tmsg_Panel_history tmsg_panel_history"></div>
                    <div class="J_Tmsg_Panel_Strong tmsg_panel_strong"></div>
                    <div class="J_Tmsg_Panel_Setting tmsg_panel_setting"></div>
                </div>
            </li>




            <li class="site-nav-menu site-nav-mobile" id="J_SiteNavMobile" data-name="mobile" data-spm="1997563273">
                <div class="site-nav-menu-hd">
                    <a href="//www.taobao.com/m" target="_top">

                        <span>手机逛淘宝</span>
                    </a>

                </div>

            </li>




            <li class="site-nav-menu site-nav-weekend site-nav-multi-menu J_MultiMenu" id="J_SiteNavWeekend" data-name="weekend" data-spm="">
            </li>



        </ul>

        <ul class="site-nav-bd-r" id="J_SiteNavBdR" data-spm-ab="2">


            <li class="site-nav-menu site-nav-home" id="J_SiteNavHome" data-name="home" data-spm="1581860521">
                <div class="site-nav-menu-hd">
                    <a href="//www.taobao.com/" target="_top">

                        <span>淘宝网首页</span>
                    </a>

                </div>

            </li>




            <li class="site-nav-menu site-nav-mytaobao site-nav-multi-menu J_MultiMenu" id="J_SiteNavMytaobao" data-name="mytaobao" data-spm="1997525045">
                <div class="site-nav-menu-hd">
                    <a href="//i.taobao.com/my_taobao.htm" target="_top">

                        <span>我的淘宝</span>
                    </a>

                    <span class="site-nav-arrow"><span class="site-nav-icon">&#xe605;</span></span>

                </div>

                <div class="site-nav-menu-bd site-nav-menu-list">
                    <div class="site-nav-menu-bd-panel menu-bd-panel">

                        <a href="//trade.taobao.com/trade/itemlist/list_bought_items.htm" target="_top">已买到的宝贝</a>

                        <a href="//lu.taobao.com/newMyPath.htm" target="_top">我的足迹</a>

                    </div>
                </div>

            </li>




            <li class="site-nav-menu site-nav-cart site-nav-menu-empty site-nav-multi-menu J_MultiMenu" id="J_MiniCart" data-name="cart" data-spm="1997525049">
                <div class="site-nav-menu-hd">
                    <a href="//cart.taobao.com/cart.htm?from=mini&ad_id=&am_id=&cm_id=&pm_id=1501036000a02c5c3739" target="_top">
                        <span class="site-nav-icon site-nav-icon-highlight">&#xe603;</span>
                        <span>购物车</span>
                        <strong class="h" id="J_MiniCartNum"></strong>
                    </a>

                    <span class="site-nav-arrow"><span class="site-nav-icon">&#xe605;</span></span>

                </div>
                <div class="site-nav-menu-bd">
                    <div class="site-nav-menu-bd-panel menu-bd-panel">
                    </div>
                </div>
            </li>




            <li class="site-nav-menu site-nav-favor site-nav-multi-menu J_MultiMenu" id="J_SiteNavFavor" data-name="favor" data-spm="1997525053">
                <div class="site-nav-menu-hd">
                    <a href="//shoucang.taobao.com/shop_collect_list.htm" target="_top">
                        <span class="site-nav-icon">&#xe604;</span>
                        <span>收藏夹</span>
                    </a>

                    <span class="site-nav-arrow"><span class="site-nav-icon">&#xe605;</span></span>

                </div>

                <div class="site-nav-menu-bd site-nav-menu-list">
                    <div class="site-nav-menu-bd-panel menu-bd-panel">

                        <a href="//shoucang.taobao.com/item_collect.htm" target="_top">收藏的宝贝</a>

                        <a href="//shoucang.taobao.com/shop_collect_list.htm" target="_top">收藏的店铺</a>

                    </div>
                </div>

            </li>




            <li class="site-nav-menu site-nav-catalog" id="J_SiteNavCatalog" data-name="catalog" data-spm="1997563209">
                <div class="site-nav-menu-hd">
                    <a href="//www.taobao.com/tbhome/page/market-list" target="_top">

                        <span>商品分类</span>
                    </a>

                </div>

            </li>


            <li class="site-nav-pipe">|</li>



            <li class="site-nav-menu site-nav-seller site-nav-multi-menu J_MultiMenu" id="J_SiteNavSeller" data-name="seller" data-spm="1997525073">
                <div class="site-nav-menu-hd">
                    <a href="//mai.taobao.com/seller_admin.htm" target="_top">

                        <span>卖家中心</span>
                    </a>

                    <span class="site-nav-arrow"><span class="site-nav-icon">&#xe605;</span></span>

                </div>


            </li>




            <li class="site-nav-menu site-nav-service site-nav-multi-menu J_MultiMenu" id="J_SiteNavService" data-name="service" data-spm="754895749">
                <div class="site-nav-menu-hd">
                    <a href="//service.taobao.com/support/main/service_center.htm?from=newBuyerLead" target="_top">

                        <span>联系客服</span>
                    </a>

                    <span class="site-nav-arrow"><span class="site-nav-icon">&#xe605;</span></span>

                </div>

                <div class="site-nav-menu-bd site-nav-menu-list">
                    <div class="site-nav-menu-bd-panel menu-bd-panel">

                        <a href="//service.taobao.com/support/main/service_center.htm" target="_top">消费者客服</a>

                        <a href="//helpcenter.taobao.com/index?from=high" target="_top">卖家客服</a>

                    </div>
                </div>

            </li>




            <li class="site-nav-menu site-nav-sitemap site-nav-multi-menu J_MultiMenu" id="J_SiteNavSitemap" data-name="sitemap" data-spm="1997525077">
                <div class="site-nav-menu-hd">
                    <a href="//www.taobao.com/sitemap.php" target="_top">
                        <span class="site-nav-icon site-nav-icon-highlight">&#xe601;</span>
                        <span>网站导航</span>
                    </a>

                    <span class="site-nav-arrow"><span class="site-nav-icon">&#xe605;</span></span>

                </div>

            </li>



        </ul>

    </div>

    <textarea class="J_SiteNavTemplateSign">
        <div class="site-nav-menu-hd">
            <div class="site-nav-sign">
                <a href="{loginUrl}" target="_top" class="h">亲，请登录</a>
                <a href="{regUrl}" target="_top">免费注册</a>
            </div>
            <div class="site-nav-user">
                {userInfo}
                <span class="site-nav-arrow"><span class="site-nav-icon">&#xe605;</span></span>
            </div>
        </div>
        <div class="site-nav-menu-bd" id="J_SiteNavLoginPanel">
        </div>
    </textarea>
    <textarea class="J_SiteNavTemplateUser">
        <div class="site-nav-menu-bd-panel">
            <a href="//i{host}/my_taobao.htm?ad_id=&am_id=&cm_id=&pm_id=1501036000a02c5c3739" target="_top" id="J_UserAvatar" class="site-nav-user-avatar">
                <img id="J_SiteNavUserAvatar" src="{avatarUrl}" width="80" height="80" alt="{nick}的头像">
            </a>
            <div class="site-nav-user-info">
                <p class="site-nav-user-operate">
                    <a href="//member1{host}/member/fresh/account_security.htm" target="_top">账号管理</a>
                    <span class="site-nav-pipe">|</span>
                    <a href="{logoutUrl}" target="_top">退出</a>
                </p>
                <p>
                    {levelInfo}
                </p>
                <p>
                    <a href="{powerUrl}" target="_top"><strong class="site-nav-privilege-count">{powerTit}</strong></a>
                </p>
                {newMemberTip}
            </div>
            <div class="site-nav-user-privilege-tip">{privilegeTip}</div>
            <div class="site-nav-user-medal {medalCls}">
                <div class="site-nav-user-medal-bd">
                    <div id="J_UserMedalCont" class="site-nav-user-medal-cont">{userMedals}</div>
                </div>
                <a href="javascript:;" target="_top" id="J_ArrowL" class="site-nav-medal-arrow site-nav-arrow-l">&lt;</span></a>
                <a href="javascript:;" target="_top" id="J_ArrowR" class="site-nav-medal-arrow site-nav-arrow-r">&gt;</a>
            </div>
        </div>
    </textarea>

</div>

<!--[if lt IE 8]>
<style>html,body{overflow:hidden;height:100%}</style>
<div class="tb-ie-updater-layer"></div>
<div class="tb-ie-updater-box" data-spm="20161112">
    <a href="https://www.google.cn/intl/zh-CN/chrome/browser/desktop/" class="tb-ie-updater-google" target="_blank" data-spm-click="gostr=/tbieupdate;locaid=d1;name=google">谷歌 Chrome</a>
    <a href="http://www.uc.cn/ucbrowser/download/" class="tb-ie-updater-uc" target="_blank" data-spm-click="gostr=/tbieupdate20161112;locaid=d2;name=uc">UC 浏览器</a>"
</div>
<![endif]-->
<script type="text/javascript">
    if(document.body.clientWidth<=1024 || window.screen.width < 1190 ){
        document.body.className='mt-ml-990';
    }else{
        document.body.className='mt-ml-1190';
    }
    KISSY.use("ua", function(S, UA){
        if(UA.mobile){document.body.className = document.body.className + ' MOBILE'}
    });
</script>



<!-- /2016/top -->
<!-- start ems/mytaobao/header -->
<link rel="stylesheet" href="//g.alicdn.com/tb/mtbframe/2.0.1/pages/home/base.css">
<script type="text/javascript" src="//g.alicdn.com/tb/mtbframe/2.0.1/components/common/base.js"></script>
<!--
<link rel="stylesheet" href="//g.alicdn.com/tb/mytaobao/5.0.8/pages/home/base.css">
<script type="text/javascript" src="//g.alicdn.com/tb/mytaobao/5.0.8/components/common/base.js"></script>
-->
<header class="mt-header" data-spm="a210b">
    <article>
        <div class="mt-logo" style="margin-left: 0px;">
            <a title="我的淘宝" href="//i.taobao.com/my_taobao.htm?nekot=1470211439696&amp;tracelog=newmytb_logodianji"
               class="mt-tblogo" data-spm="d1000351"></a>
        </div>
        <nav class="mt-nav">
            <ul id="J_MtMainNav">
                <li class="selected">
                    <a href="//i.taobao.com/my_taobao.htm?tracelog=mytaobaonavindex&amp;nekot=1470211439696"
                       data-spm="d1000352">首页</a>
                    <i class="mt-arrow"></i>
                </li>
                <li class="J_MtNavSubTrigger">
                    <a class="mt-nav-parent" href="//member1.taobao.com/member/fresh/account_security.htm?tracelog=mytaobaonavsetup&amp;nekot=1470211439696"
                       data-spm="d1000356">账户设置<i><em></em><s></s></i></a>
                    <i class="mt-arrow"></i>
                    <div class="J_MtNavSub mt-nav-sub hide">
                        <div class="mt-nav-arr"></div>
                        <dl class="mt-nav-sub-col1">
                            <dt>安全设置</dt>
                            <dd>
                                <p><a data-spm="11" href="//110.taobao.com/account/product_validate.htm?type=password">修改登录密码</a></p>
                                <p><a data-spm="12" href="//110.taobao.com/account/rebind_phone_begin.htm">手机绑定</a></p>
                                <p><a data-spm="13" href="//110.taobao.com/product/question_set.htm">密保问题设置</a></p>
                                <p><a data-spm="10" href="//member1.taobao.com/member/fresh/account_security.htm">其他</a></p>
                            </dd>
                        </dl>
                        <dl class="mt-nav-sub-col2">
                            <dt>个人资料</dt>
                            <dd>
                                <p><a data-spm="8" href="//member1.taobao.com/member/fresh/deliver_address.htm">收货地址</a></p>
                                <p><a data-spm="14" href="//i.taobao.com/user/baseInfoSet.htm">修改头像、昵称</a></p>
                                <p><a data-spm="15" href="//msg.taobao.com/message/message_set.htm">消息提醒设置</a></p>
                                <p><a data-spm="9" href="//i.taobao.com/user/privacy_set.htm">隐私设置</a></p>
                            </dd>
                        </dl>
                        <dl class="mt-nav-sub-col3">
                            <dt>账号绑定</dt>
                            <dd>
                                <p><a data-spm="7" href="//member1.taobao.com/member/fresh/account_management.htm">支付宝绑定</a></p>
                                <p><a data-spm="16" href="//member1.taobao.com/member/fresh/weibo_bind_management.htm">微博绑定</a></p>
                                <p><a data-spm="17" href="//t.taobao.com/cooperate/connect/connect_manager.htm">分享绑定</a></p>
                            </dd>
                        </dl>
                    </div>
                </li>
                <li class="">
                    <a class="mt-nav-parent" href="//msg.taobao.com/message/list.htm?tracelog=mytaobaonavmessage&amp;nekot=1470211439696"
                       data-spm="d1000357">消息</a>
                    <i class="mt-arrow"></i>
                </li>
            </ul>
            <div class="search" id="J_Search" role="search">
                <div class="search-panel search-sns-panel-field">
                    <form target="_blank" action="//s.taobao.com/search" name="search" id="J_TSearchForm"
                          class="search-panel-focused">
                        <div class="search-button">
                            <button class="btn-search" type="submit">搜 索</button>
                        </div>
                        <div class="search-panel-fields">
                            <label for="q"></label>
                            <div class="search-combobox" id="ks-component1045">
                                <div class="search-combobox-input-wrap">
                                    <input id="q" name="q" accesskey="s" autofocus="true" autocomplete="off"
                                           x-webkit-speech="" x-webkit-grammar="builtin:translate" aria-haspopup="true"
                                           aria-combobox="list" role="combobox" class="search-combobox-input"
                                           aria-label="请输入搜索文字或从搜索历史中选择"></div>
                            </div>
                        </div>
                        <input type="hidden" name="commend" value="all">
                        <input type="hidden" name="ssid" value="s5-e" autocomplete="off">
                        <input type="hidden" name="search_type" value="mall" autocomplete="off">
                        <input type="hidden" name="sourceId" value="tb.index">
                        <input type="hidden" name="area" value="c2c">
                        <input type="hidden" name="spm" value="a1z02.1.6856637.d4910789">
                        <!--[if lt IE 9]><s class="search-fix search-fix-panellt"></s><s class="search-fix search-fix-panellb"></s>
                        <![endif]-->
                    </form>
                </div>
            </div>
        </nav>

    </article>
</header>
<!-- end ems/mytaobao/header -->

<div id="layout-center">
    <div class="grid-c2">
        <div id="J_Col_Main" class="col-main">
            <div class="main-wrap">

                <div class="mt-ml-c1" >
                    <div class="mt-ml-shim">

                        <div class="m-userinfo" data-spm="972272805">
                            <div class="s-userbar s-bar" >
                                <div class="s-baseinfo" >

                                    <a href="//i.taobao.com/user/baseInfoSet.htm?nekot=1484616877000&tracelog=newmytb_bianjiziliao" target="_blank" class="s-avatar" data-spm="d4911997" >
                                        <span class="s-edit-mask"  >编辑资料</span>
                                        <img src="//wwc.alicdn.com/avatar/getAvatar.do?userId=1021795197&width=160&height=160&type=sns" />
                                        <span class="s-round-mask" ></span>
                                    </a>


                                    <input id="mtb-nickname" type="hidden" value="tb7714044_11"/>
                                    <input id="mtb-userid" type="hidden" value="1021795197"/>

                                    <em class="s-name"><a data-spm="d4912005" target="_blank" href="//i.taobao.com/user/baseInfoSet.htm?spm=a310q.2219005.0.0.ncBmVr" ><em>淘一下HA</em> (tb7714044_11)</a></em>

                                    <div class="s-prestige">




                                        <a href="//rate.taobao.com/myRate.htm" target="_blank" data-spm="d4912009"><img src="//img.alicdn.com/tps/i3/TB16OdlFVXXXXbBXpXXDnLTFXXX-16-13.png" class="rank" title="314个买家信用积分，请点击查看详情" /></a>



                                        <a class="vip v2" title="V2会员" href="//vip.taobao.com/vip_club.htm" target="_blank" data-spm="d4912013" ></a>


                                        <a data-spm="d4912017" id="J_tip_weibo" class="icon-weibo"  href="//login.taobao.com/aso/logintowb?target=http://weibo.com" target="_blank"  data-title="loading" >
                                            <img class="weibo-img" src="//img.alicdn.com/tps/i4/T1d8pUFm0dXXahvK_a-18-15.png" alt="" />
                                            <div class="weibo-tooltip hide">
                                                <span class="icon-arr"><i></i><em></em></span>
                                                <span id="J_sinaNickId">Loading</span>
                                            </div>
                                        </a>


                                    </div>
                                </div>
                                <ul class="s-my-stuffs">
                                    <li class="s-myalipay J_DropRoot" id="J_MyAlipayInfo">
            <span href="#" class="J_DropTrigger i-trigger">

                  <span class="realy-name">
                    <a class="icon" title="支付宝实名认证" target="_blank" href="//service.taobao.com/support/5-27-357/help-1035.htm" data-spm="d1000297"></a>
                  </span>
                &nbsp;<a data-spm="d4912037" data-spm-click="gostr=/sns;locaid=d4912037;" target="_blank" href="//my.alipay.com/portal/i.htm?src=yy_content_jygl&sign_from=3000&sign_account_no=20888023651934250156" >我的支付宝</a><span class="icon-arr"><i></i><em></em></span></span>
                                        <div class="i-dropdown J_DropDown" >
                                            <div class="i-dropdown-shim" >
                                                <div class="i-dropdown-con">







                                                    <ul>
                                                        <li class="check-amount alipay">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;账户余额：
                                                            <a class="highlight alipay-trigger J_AlipayTrigger" href="#" data-spm-click="gostr=/sns;locaid=d4912041;" data-spm="d4912041">显示余额</a>
                                                            <span id="J_AliPayMoney" class="hidden"></span>
                                                            <p class="link">
                                                                <a href="//shenghuo.alipay.com/transfer/deposit/depositPreprocessGw.htm?sign_from=3000&sign_account_no=20888023651934250156" target="_blank" data-spm-click="gostr=/sns;locaid=d4912045;" data-spm="d4912045">充值</a>
                                                                <a href="https://auth.alipay.com/login/trustLoginResultDispatch.htm?sign_from=3000&sign_account_no=20888023651934250156&goto=https://shenghuo.alipay.com/send/payment/fill.htm&src=wdtb" target="_blank" data-spm-click="gostr=/sns;locaid=d4912049;" data-spm="d4912049">转账</a>
                                                                <a href="//consumeprod.alipay.com/record/index.htm?sign_from=3000&sign_account_no=20888023651934250156" target="_blank" data-spm-click="gostr=/sns;locaid=d4912053;" data-spm="d4912053">消费记录</a>
                                                            </p>
                                                        </li>

                                                        <li class="check-amount mFund">
                                                            &nbsp;&nbsp;&nbsp;&nbsp;余额宝：
                                                            <a class="highlight alipay-trigger J_AlipayTrigger" href="#" data-spm-click="gostr=/sns;locaid=d4913189;" data-spm="d4913189">显示余额及收益</a>
                                                            <span id="J_AliPaymFund" class="hidden"></span>
                                                            <p class="mFund-profit hidden">
                                                                &nbsp;&nbsp;&nbsp;&nbsp;历史累计收益：
                                                                <span id="J_AliPaymFundProfit"></span>
                                                            </p>
                                                            <p class="link">
                                                                <a href="//yebprod.alipay.com/yeb/purchase.htm?sign_from=3000&sign_account_no=20888023651934250156" target="_blank" data-spm-click="gostr=/sns;locaid=d4913105;" data-spm="d4913105">转入</a>
                                                                <a href="//yebprod.alipay.com/yeb/asset.htm?sign_from=3000&sign_account_no=20888023651934250156"  data-spm-click="gostr=/sns;locaid=d4913113;"  data-spm="d4913113" target="_blank" id="J_mFund_manageurl">管理</a>
                                                                <a href="//yebprod.alipay.com/yeb/mfWithdraw.htm?sign_from=3000&sign_account_no=20888023651934250156"  data-spm-click="gostr=/sns;locaid=d4913109;"  data-spm="d4913109" target="_blank">转出</a>
                                                            </p>
                                                        </li>

                                                        <li class="J_PlaceholdForHuabei hide" ></li>


                                                    </ul>


                                                </div>
                                            </div>

                                        </div>
                                    </li>

                                    <li class="s-privilegeinfo J_DropRoot" id="J_MyPrivilegeInfo">
                                        <span  class="J_DropTrigger i-trigger">我的优惠信息<span class="icon-arr"><i></i><em></em></span></span>
                                        <div class="i-dropdown J_DropDown" >

                                            <div class="i-dropdown-shim" >

                                                <div class="i-dropdown-con" >
                                                    <ul>
                                                        <li><a target="_blank"  href="//marketingop.taobao.com/cashHongbao.htm" >红包：<em class="highlight J_redPackageNum">-</em></a></li>
                                                        <li><a data-spm="d4912021" target="_blank"  href="//taoquan.taobao.com/framework/got_bonus.htm?tabIndex=1&display=true&tabDomId=shopCouponTab" data-spm="d4912021">店铺优惠券：<em class="highlight J_Shop_Promotion">-</em></a></li>
                                                        <li><a data-spm="d4912025" target="_blank"  href="//vip.tmall.com/point/detail/all" data-spm="d4912025">天猫积分：<em class="highlight J_Tmail_Point">-</em></a></li>
                                                        <li><a data-spm="d4912029" target="_blank" href="//trade.tmall.com/member/myCoupon.htm?tracelog=mytaobao_dianquanka" data-spm="d4912029">查看天猫点券卡</a></li>
                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </li>
                                    <li>
                                        <a href="//member1.taobao.com/member/fresh/deliver_address.htm" target="_blank" data-spm="d4912033" class="J_DropTrigger i-trigger">我的收货地址</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="s-my-counts s-content">
                                <ul>
                                    <li>
                                        <a data-spm="d4919660" target="_blank" href="//buyertrade.taobao.com/trade/itemlist/list_bought_items.htm?action=itemlist/BoughtQueryAction&event_submit_do_query=1&tabCode=waitPay"><span>待付款</span></a>
                                    </li>
                                    <li>
                                        <a data-spm="d4919661" target="_blank" href="//buyertrade.taobao.com/trade/itemlist/list_bought_items.htm?action=itemlist/BoughtQueryAction&event_submit_do_query=1&tabCode=waitSend"><span>待发货</span></a>
                                    </li>
                                    <li>
                                        <a data-spm="d4919662" target="_blank" href="//buyertrade.taobao.com/trade/itemlist/list_bought_items.htm?action=itemlist/BoughtQueryAction&event_submit_do_query=1&tabCode=waitConfirm"><span>待收货</span></a>
                                    </li>
                                    <li>
                                        <a data-spm="d4919663" target="_blank" href="//buyertrade.taobao.com/trade/itemlist/list_bought_items.htm?action=itemlist/BoughtQueryAction&event_submit_do_query=1&tabCode=waitRate"><span>待评价<em>2</em></span></a>
                                    </li>
                                    <li>
                                        <a data-spm="d4919664" target="_blank" href="//refund.taobao.com/refund_list.htm"><span>退款</a></span>
                                    </li>
                                </ul>
                            </div>
                        </div>











                        <script type="text/config" class="J_Config" data-subfamily="spmData" >
    {"getSpmData":{"data":{"spmDetails":[{"scm":"1502-1998052845","spm":"d4919665"},{"scm":"1639-1998049143","spm":"d4919530"},{"scm":"1658-1998060244","spm":"d4919667"}]},"desc":"success","msg":"success","ret":0,"version":1},"hostname":"mytaobao010150160093.eu13","login":true,"tbToken":"GQ3HQU7tkL0E"}
</script>
                        <div class="m-guess-you-like" data-spm="1998049143">
                            <div class="s-bar">根据浏览，猜我喜欢
                                <a class="i-load-more-item-shadow hide" data-spm-click="gostr=/sns;locaid=d4919531;" href="#"><i>&#xe63e;</i>换一组</a>
                            </div>
                            <div class="s-content">
                                <div class="s-inner-content">
                                    <div class="s-item-list clearfix">
                                        <div class="s-item-data-loading"></div>
                                    </div>
                                    <div class="s-more-btn i-load-more-item hide" data-screen="1"><i>&#xe63e;</i>换一组</div>
                                </div>
                            </div>
                        </div>



                        <div data-spm="1998049144" class="m-someone-like-you hide">
                            <div class="s-bar clearfix">爱逛街为你量身推荐</div>
                            <div class="s-content">

                                <div class="s-inner-content">
                                    <div class="s-item-list clearfix">
                                        <div class="s-item-data-loading"></div>
                                    </div>
                                    <div class="s-more-btn i-load-more-item hide" data-screen="1">更多</div>
                                </div>

                            </div>
                        </div>


                    </div>
                </div>
                <div class="mt-ml-toolbar J_MTToolBar" >
                    <a class="s-tool-close J_ToolClose"  href="#" >&#xe607;</a>
                    <div class="s-tool-tab" >
                        <a class="s-tool-btn J_ToolBtn" data-for=".J_Calendar,.J_SUniverse" href="#" ><i class="s-tool-icon" >&#xe636;</i><br/>我<br/>的<br/>日<br/>历<br/><i class="s-tool-count" >3</i></a>
                        <i class="s-tool-hr" ></i>
                        <a class="s-tool-btn J_ToolBtn" data-for=".J_Convenience,.J_SUniverse" href="#" ><i class="s-tool-icon" >&#xe635;</i><br/>便<br/>民<br/>服<br/>务</a>
                    </div>
                </div>
                <div class="mt-ml-c2" >

                    <div data-spm="1998543781" class="m-fast-refund" >
                        <div class="s-icon-main" >极速退款</div>
                        <div class="s-limit" >
                            <i class="s-limit-l" ></i>
                            <i class="s-limit-c" >&yen;5000</i>
                            <i class="s-limit-r" ></i>
                            <i class="s-limit-v" >



                                &#xe641;





                            </i>
                        </div>
                        <div class="s-text" >
                            您是淘宝优质会员，尊享 <em>5000</em> 元极速退款
                            <em class="be-right" >详情&gt;</em>
                        </div>
                        <a data-spm="d4920538" href="//www.taobao.com/markets/vip/quickback" target="_blank" ></a>
                    </div>



                    <div data-spm="1998056009" class="g-box-base m-calendar J_Calendar i-toobar-con" >
                        <script type="text/config" class="J_Config" data-subfamily="appIds" >
        ["1","9","10"]
    </script>

                        <div class="s-bar"><a data-spm-click="gostr=/sns;locaid=d4919643;" data-spm="d4919643" class="i-history-trigger s-icon" href="#" ></a>我的日历<a data-spm-click="gostr=/sns;locaid=d4919542;" data-spm="d4919542" class="i-setting-trigger s-icon" href="#" ></a></div>
                        <div class="s-content">
                            <div class="i-maskself J_CalendarMask" ></div>
                            <div class="s-care s-care-noweather" >
                                <div class="s-date" >
                                    <em>17</em>
                                    <span>星期二</span>
                                    <span>2017.01</span>
                                </div>


                            </div>
                            <div class="s-message"  >
                                <ul class="s-msg-list" >

                                    <li class="s-msg-item s-msg-loading" ></li>

                                    <li class="s-msg-item s-msg-loading" ></li>

                                    <li class="s-msg-item s-msg-loading" ></li>

                                </ul>
                            </div>
                            <a data-spm-click="gostr=/sns;locaid=d4919648;" data-spm="d4919648" href="#" class="i-btn-more" style="display: none" >
                                <span class="s-mode-collect" >更多 <span class="g-arr-down"><i></i><em></em></span></span>
                                <span class="s-mode-extend" >收起 <span class="g-arr-up"><i></i><em></em></span></span>
                            </a>
                        </div>
                    </div>



                    <div class="J_SettingTip g-calendar-setting-tip g-smarttip g-mb-set ks-overlay ks-popup-hidden ks-overlay-hidden">
                        <div class="ks-overlay-content ks-popup-content">
                            <span class="s-tip-arr"><i></i><em></em></span>
                            <div class="s-tip-bar" >动态接收设置</div>
                            <div class="s-tip-con" ></div>
                        </div>
                    </div>

                    <div class="J_HistoryTip g-calendar-history-tip g-smarttip g-mb-set ks-overlay ks-popup-hidden ks-overlay-hidden">
                        <div class="ks-overlay-content ks-popup-content">
                            <span class="s-tip-arr"><i></i><em></em></span>
                            <div class="s-tip-bar" >已读动态</div>
                            <div class="s-tip-con" >
                                <div class="s-message" >
                                    <ul class="s-msg-list" ></ul>
                                </div>
                            </div>
                            <a href="#" class="i-btn-more" style="display: none" >更多</a>
                        </div>
                    </div>


                    <div data-spm="1998060247" class="g-box-base m-convenience J_Convenience i-toobar-con">

                        <div class="s-bar">便民服务</div>

                        <div class="s-content">

                            <ul class="i-btn-row">
                                <li data-for="phone" >
                                    <a data-my-gold="sns.25.4" data-spm-click="gostr=/sns;locaid=d4919671;" data-spm="d4919671" href="#">
                                        <i>&#xe633;</i>
                                        <span style="position: relative; top: 2px" >手机</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-my-gold="sns.25.6" data-spm-click="gostr=/sns;locaid=d4919673;" data-spm="d4919673" target="_blank" href="//game.taobao.com/" >
                                        <i>&#xe634;</i>
                                        <span>点卡</span>
                                    </a>
                                </li>
                                <li data-for="trip" >
                                    <a data-my-gold="sns.25.5" data-spm-click="gostr=/sns;locaid=d4919672;" data-spm="d4919672" href="#">
                                        <i>&#xe63a;</i>
                                        <span>机票</span>
                                    </a>
                                </li>
                                <li data-for="lottery" >
                                    <a data-my-gold="sns.25.8" data-spm-click="gostr=/sns;locaid=d4919675;" data-spm="d4919675" href="#">
                                        <i>&#xe602;</i>
                                        <span>彩票</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="i-con-row">

                                <a class="i-con-close" href="#" >&#xe607;</a>

                                <div data-bind="phone" data-initer="phone" class="i-con-row-cell">
                                    <div class="i-con-shim" ></div>
                                </div>

                                <div data-bind="game" data-initer="game" class="i-con-row-cell">
                                    <div class="i-con-shim" ></div>

                                </div>

                                <div data-bind="trip" data-panel-height="170" class="i-con-row-cell">
                <textarea class="hide" >
                    <iframe class="i-con-shim" style="width:200px; height:140px" frameborder="0" scrolling="no" src="//trip.taobao.com/go/act/trip/mytaobao_trip_2013.php"></iframe>
                </textarea>
                                </div>

                                <div data-bind="lottery" class="i-con-row-cell">
                <textarea class="hide" >
                    <iframe class="i-con-shim" style="width:200px" frameborder="0" scrolling="no" src="//www.taobao.com/go/chn/caipiao/fast-bet-convencenter.php"></iframe>
                </textarea>
                                </div>

                            </div>

                            <ul class="i-btn-row">
                                <li>
                                    <a target="_blank" href="//life.taobao.com/market/sdmjf2011.php?spm=0.0.0.0.JFFZrF" data-my-gold="sns.25.14" data-spm-click="gostr=/sns;locaid=d4919681;" data-spm="d4919681" href="#">
                                        <i>&#xe60c;</i>
                                        <span>水电煤</span>
                                    </a>
                                </li>
                                <li data-for="insurance">
                                    <a data-my-gold="sns.25.7" data-spm-click="gostr=/sns;locaid=d4919674;" data-spm="d4919674" href="#">
                                        <i>&#xe603;</i>
                                        <span>保险</span>
                                    </a>
                                </li>
                                <li data-for="transfer">
                                    <a data-my-gold="sns.25.11" data-spm-click="gostr=/sns;locaid=d4919678;" data-spm="d4919678" href="#">
                                        <i>&#xe609;</i>
                                        <span>转账</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-my-gold="sns.25.11" data-spm-click="gostr=/sns;locaid=d4919678;" data-spm="d4919678" target="_blank" href="//life.taobao.com/market/xykhk2011.php?spm=0.0.0.0.JFFZrF">
                                        <i>&#xe608;</i>
                                        <span>还款</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="i-con-row">

                                <a class="i-con-close" href="#" >&#xe607;</a>

                                <div data-bind="pay" class="i-con-row-cell" >
                <textarea class="hide" >
                    <iframe class="i-con-shim" style="width:200px" frameborder="0" scrolling="no" src="//yyzw.alipay.com/tbbm/jiaofei.htm?_bdType=adbcbedjaaacfbjjfbeg"></iframe>
                </textarea>
                                </div>

                                <div data-bind="insurance" class="i-con-row-cell" >
                <textarea class="hide" >
                    <iframe class="i-con-shim" style="width:200px" frameborder="0" scrolling="no" src="//www.taobao.com/go/act/baoxian/mytaobao_expressway_v2.php"></iframe>
                </textarea>
                                </div>

                                <div data-bind="transfer" class="i-con-row-cell" >
                <textarea class="hide" >
                    <iframe class="i-con-shim" style="width:200px" frameborder="0" scrolling="no" src="https://shenghuo.alipay.com/send/payment/fillForTaobao.htm?_bdType=adbcbfbafcfieiddfgbf"></iframe>
                </textarea>
                                </div>

                                <div data-bind="repayment" class="i-con-row-cell" >
                <textarea class="hide" >
                    <iframe class="i-con-shim" style="width:200px" frameborder="0" scrolling="no" src="https://aliprod.alipay.com/taobao-integration/LifeHelperCreditCard.htm?type=new"></iframe>
                </textarea>
                                </div>

                            </div>

                            <ul class="i-btn-row i-btn-row-last">
                                <li data-for="take-out">
                                    <a data-my-gold="sns.25.10" data-spm-click="gostr=/sns;locaid=d4919677;" data-spm="d4919677" href="#">
                                        <i>&#xe601;</i>
                                        <span>外卖</span>
                                    </a>
                                </li>
                                <li data-for="hotel">
                                    <a data-my-gold="sns.25.5" data-spm-click="gostr=/sns;locaid=d4919672;" data-spm="d4919672" href="#">
                                        <i>&#xe63b;</i>
                                        <span>酒店</span>
                                    </a>
                                </li>
                                <li data-for="express">
                                    <a href="#">
                                        <i>&#xe60f;</i>
                                        <span>快递</span>
                                    </a>
                                </li>
                                <li data-for="train-ticket" >
                                    <a href="#">
                                        <i>&#xe63f;</i>
                                        <span>火车票</span>
                                    </a>
                                </li>
                            </ul>

                            <div class="i-con-row i-con-row-last">

                                <a class="i-con-close" href="#" >&#xe607;</a>

                                <div data-bind="take-out" class="i-con-row-cell" >
                <textarea class="hide">
                    <iframe class="i-con-shim" style="width:200px" frameborder="0" scrolling="no" src="//www.taobao.com/go/act/sale/waimaiiframe192.php"></iframe>
                </textarea>
                                </div>
                                <div data-bind="hotel" class="i-con-row-cell" >
                <textarea class="hide" >
                    <iframe class="i-con-shim" style="width:200px" frameborder="0" scrolling="no" src="//trip.taobao.com/go/chn/trip/mytaobao_hotel_2013.php"></iframe>
                </textarea>
                                </div>
                                <div data-bind="express" class="i-con-row-cell" >
                <textarea class="hide" >
                    <iframe class="i-con-shim" style="width:200px" frameborder="0" scrolling="no" src="//wuliu.taobao.com/iframe/iframe_small.htm"></iframe>
                </textarea>
                                </div>
                                <div data-bind="train-ticket" class="i-con-row-cell" >
                <textarea class="hide" >
                    <iframe class="i-con-shim" style="width:200px" frameborder="0" scrolling="no" src="//trip.taobao.com/go/act/common/mytaobao-train.php"></iframe>
                </textarea>
                                </div>

                            </div>


                        </div>
                    </div>

                    <div class="i-toobar-con m-suniverse J_SUniverse">
                        <script type="text/javascript">
                            document.write('<a style="display:none!important"  id="tanx-a-mm_12852562_1778064_23482037"></a>');
                            tanx_s = document.createElement("script");
                            tanx_s.type = "text/javascript";
                            tanx_s.charset = "gbk";
                            tanx_s.id = "tanx-s-mm_12852562_1778064_23482037";
                            tanx_s.async = true;
                            tanx_s.src = location.protocol + "//p.tanx.com/ex?i=mm_12852562_1778064_23482037";
                            document.getElementsByTagName("head")[0].appendChild(tanx_s);
                        </script>
                    </div>

                </div>


            </div>
        </div>
        <section id="J_Col_Sub" class="col-sub">
            <script type="text/javascript"> ___RecentVisitOn = true;  </script>
            <aside class="mt-menu" id="J_MtSideMenu">
                <div class="mt-menu-tree">
                    <dl class="mt-menu-item" data-spm="a2109">
                        <dt class="fs14">全部功能</dt>
                        <dd>
                            <a href="//cart.taobao.com/cart.htm?nekot=1470211439694" target="_blank" role="menuitem"
                               data-spm="d1000367">我的购物车</a>
                        </dd>
                        <dd class="mt-menu-sub fold J_MtSideTree">
                            <b class="mt-indicator J_MtIndicator">-</b>
                            <a id="bought" href="//trade.taobao.com/trade/itemlist/list_bought_items.htm?nekot=1470211439694"
                               data-spm="d1000368">已买到的宝贝</a>
                            <ul class="mt-menu-sub-content">
                                <li id="jinpai">
                                    <a href="//paimai.taobao.com/auctionList/my_auction_list.htm?nekot=1470211439694"
                                       data-spm="d1000369">我的拍卖</a>
                                </li>
                                <li id="jipiao">
                                    <a href="//jipiao.trip.taobao.com/order_manager.htm?nekot=1470211439694" role="menuitem"
                                       data-spm="d1000370">机票酒店保险</a>
                                </li>
                                <li id="caipiao">
                                    <a href="//caipiao.taobao.com/lottery/order/my_all_lottery_order.htm?nekot=1470211439694"
                                       data-spm="d1000371">我的彩票</a>
                                </li>
                                <li id="finance">
                                    <a href="//trade.taobao.com/trade/itemlist/list_bought_items.htm?event_submit_do_query=1&amp;action=itemlist/QueryAction&amp;user_type=0&amp;queryBizType=3000&amp;refine=false">我的理财</a>
                                </li>
                                <script>
                                    if ((typeof __MT_MENU_FLAGS !== "undefined") && __MT_MENU_FLAGS
                                                    .showB2BMenu)
                                    {
                                        document.write(
                                                '<li id="trade1688">' +
                                                '<a href="//trade.taobao.com/trade/itemlist/list_bought_items_outer.htm?from=1688&scm=1217.1688.0.1&nekot=1470211439694" data-spm="d1000390">我的1688订单</a>' +
                                                '</li>'
                                        );
                                    }
                                </script>
                            </ul>
                        </dd>
                        <dd id="boughtShop">
                            <a href="//favorite.taobao.com/list_bought_shops_n.htm?itemtype=0&amp;nekot=1470211439694"
                               data-spm="d1000373">购买过的店铺</a>
                        </dd>
                        <dd id="invoice" class="mt-menu-sub fold J_MtSideTree">
                            <b class="mt-indicator J_MtIndicator">+</b>
                            <a href="//inv.tmall.com/buyer/invoiceList.htm" data-spm="d1001380">我的发票</a>
                            <ul class="mt-menu-sub-content">
                                <li id="invoiceList">
                                    <a href="//inv.tmall.com/buyer/invoiceInfoList.htm" data-spm="d1001381">开票信息</a>
                                </li>
                                <li>
                                    <a href="//inv.tmall.com/buyer/invoiceList.htm" data-spm="d1001381">发票管理</a>
                                </li>
                            </ul>
                        </dd>
                        <dd id="favorite"><a href="//shoucang.taobao.com/collectList.htm?nekot=1470211439694" data-spm="d1000374">我的收藏</a></dd>
                        <!--<dd id="invoice" class="mt-menu-sub fold J_MtSideTree">
                          <b class="mt-indicator J_MtIndicator">+</b>
                          <a href="//inv.tmall.com/invoiceList.htm" data-spm="d1001380">我的发票</a>
                          <ul class="mt-menu-sub-content">
                            <li id="invoiceList">
                              <a href="//inv.tmall.com/invoiceInfoList.htm" data-spm="d1001381">开票信息</a>
                            </li>
                            <li>
                              <a href="//inv.tmall.com/invoiceList.htm" data-spm="d1001381">发票管理</a>
                            </li>
                            <li>
                              <a href="//inv.tmall.com/invoiceOrderList.htm" data-spm="d1001381">开票信息</a>
                            </li>
                          </ul>
                        </dd>-->
                        <dd id="point"><a href="//vip.tmall.com/point/all?nekot=1470211439694" target="_blank" data-spm="d1000375">我的积分</a></dd>
                        <dd id="gotBonus"><a href="//marketingop.taobao.com/cashHongbao.htm" data-spm="d1000376">我的优惠信息</a></dd>
                        <dd id="myRate"><a href="//rate.taobao.com/myRate.htm?nekot=1470211439694" data-spm="d1000377">评价管理</a></dd>
                        <dd class="mt-menu-sub fold J_MtSideTree">
                            <b class="mt-indicator J_MtIndicator">+</b>
                            <a class="J_MtIndicator" href="#" data-spm="d1000378">退款维权</a>
                            <ul class="mt-menu-sub-content">
                                <li id="refundList">
                                    <a href="//refund.taobao.com/refund_list.htm?nekot=1470211439694" data-spm="d1000379">退款管理</a>
                                </li>
                                <li id="rightManager">
                                    <a href="//support.taobao.com/myservice/aftersales/buyer_rights_list.htm?nekot=1470211439694"
                                       data-spm="d1000380">售后管理</a>
                                </li>
                                <li id="rulesManager">
                                    <a href="//support.taobao.com/myservice/rules/buyer_rules_list.htm?nekot=1470211439694"
                                       data-spm="d1000383">投诉管理</a>
                                </li>
                                <li id="postedSuit">
                                    <a href="//archer.taobao.com/myservice/report/report_i_posted_list.htm?type=2&amp;user_role=2&amp;isarchive=false&amp;nekot=1470211439694"
                                       data-spm="d1000381">举报管理</a>
                                </li>
                                <li id="leaveWord">
                                    <a href="//service.taobao.com/support/leave_word_list.htm?nekot=1470211439694"
                                       data-spm="d1000382">咨询/回复</a>
                                </li>
                            </ul>
                        </dd>
                        <dd>
                            <a data-spm="d1000391" href="//lu.taobao.com/newMyPath.htm?nekot=1470211439694"
                               target="_blank" role="menuitem">我的足迹<i class="icon-new"></i></a>
                        </dd>
                    </dl>
                    <p class="hide J_RecentVisitPlaceholder"></p>
                    <style></style>
                </div>
            </aside>
        </section>
    </div>
</div>
<div id="J_MtFixInBottom" class="mt-fix-in-bottom" data-spm="972275957">
    <a href="#" class="mt-go-top" id="J_MtGoTop" data-spm-click="gostr=/sns;locaid=d4912105;" data-spm="d4912105">返回顶部</a>
    <a href="//service.taobao.com/support/minerva/robot.htm?source_id=1317095351&redirect_url=&param=&kbs_key=&out_token=&queue_id=" target="_blank" id="J_Feedback" data-spm="d4912109">在线咨询</a>
    <a href="//survey.taobao.com/survey/QwE0mTiCx" target="_blank" id="J_Online" data-spm="d4912113">意见反馈</a>
</div>
<script type="text/javascript">
    try {
        window.__MT_SWITCHER = {"mytaobaoFEVersion":"5.0.6","eidtEnable":true,"enableFetchRemoteMenu":true,"customDacuIcon":true,"nianhuojieIcon":null,"nianhuojieJingxuanIcon":null,"gouwuquanIcon":null,"hongbaoIcon":null,"xinshiliIcon":null,"taobaoIcon":"//img.alicdn.com/tps/TB170BXOXXXXXbmXVXXXXXXXXXX-32-16.png","tmallIcon":"//img.alicdn.com/tps/TB1F3p4OpXXXXXPaFXXXXXXXXXX-32-16.png","hanglvIcon":"//img.alicdn.com/tps/TB1ZdG7OpXXXXcKXFXXXXXXXXXX-64-16.png"};
        window.__SERVER_TS = 1484616877000;
    } catch(err) {
        //pass
    }

    KISSY.config({
        packages: {
            'xtpl/views': {
                base: './xtpl/views',
                ignorePackageNameInUri: 1
            }
        },
        modules: {
            'xtpl/engine': {
                alias: 'kg/xtemplate/3.2.0/runtime'
            },
            'xtpl/io': {
                alias: 'io'
            }
        }
    });
    KISSY.use('MT/pages/home/init');
</script>
<script>var __HOSTNAME="mytaobao010150160093.eu13"</script>


<div id="J_sidebar_config" data-component-config='{ "cart": "0.0.6","message": "3.4.6","umpp": "1.5.4","mini-login": "6.3.8","tb-ie-updater": "0.0.4","tbar": "2.1.0","tb-footer": "1.1.2","sidebar": "1.0.1" }' data-tbar='{ "show":true, "miniCart": "2.12.2", "venueUrl": "https://huodong.taobao.com/wow/tb-20161212/act/zhuhuichang", "helpUrl": "https://consumerservice.taobao.com/online-help?from=activity", "validTime":{"startTime": 1480521600, "endTime": 1481558400}, "style": {"name": "20161212", "path": "kg/sidebar-style-20161212/0.0.4/" }, "page":[],"blackList":[],"navDataId":{"tceSid":1182567,"tceVid":0},"pluginVersion":{ "cart":"0.1.0","history":"0.1.1","redpaper":"0.0.8","my1111":"0.0.4","gotop":"0.1.0","help":"0.1.0","ww":"0.0.3","pagenav":"0.1.1","myasset":"0.0.5","my1212":"0.0.1"}}'></div>
<script>
    window.onload = function(){
        var barConfig = document.getElementById('J_sidebar_config');
        if(!barConfig || !barConfig.getAttribute('data-component-config')){
            return;
        }
        var verMatch = barConfig.getAttribute('data-component-config').match(/\"sidebar\"\:\s?\"(.*)\"/);
        if(!verMatch){
            return;
        }
        var version = verMatch[1];
        KISSY.use('kg/sidebar/'+ version +'/', function($, Sidebar) {
            var sidebar = new Sidebar({
                items: [{
                    list: ['pagenav', 'myasset', 'my1212']
                }, {
                    list: ['cart', 'history']
                }, {
                    list: ['help', 'gotop']
                }]
            });
            sidebar.render();
        });
    };
</script>
</body>
</html>


