{layout name="layout" /}
<block name="titel"><title>我的周边送</title></block>
<block name="resources">
    {load href="__PUBLIC__/login/login.css" /}
    {load href="__PUBLIC__/homestatic/css/myhome.css" /}
    {load href="__PUBLIC__/homestatic/js/dizhi.js" /}
    {load href="__PUBLIC__/static/js/area.js" /}
</block>
<style>
    .div1 {
        text-align: center;
        width: 200px;
        padding-top: 30px;

    }

    .div2 {
        height: 40px;
        line-height: 40px;
        cursor: pointer;
        font-size: 13px;
        position: relative;
        border-bottom: #ccc 1px dotted;

    }

    .div2 a {
        color: #000000;
    }

    .div2 a:hover {
        color: red;
    }

    .jbsz {
        position: absolute;
        height: 20px;
        width: 20px;
        left: 40px;
        top: 10px;
    }

    .conten_margin {
        /*margin-bottom: 20px;*/
        /*margin-right: 20px;*/
        float: left;
        padding: 5px;

    }

    .conten_margin:hover {
        /*border: 1px solid silver;*/
    }

    .conten_margin .titlea {
        width: 180px;
        overflow: hidden; /*超出的隐藏掉*/
        text-overflow: ellipsis; /*超出的用....*/
        white-space: nowrap; /*不换行*/
        color: #666666;
        font-size: 13px;
    }

    .bordera {
        float: left;
        padding: 5px;
        border: 1px solid silver;
        color: #666666;
        font-size: 13px;

    }

    .bordera:hover {
        border: 1px solid red;
        color: red;
    }

    .borderb {
        float: left;
        padding: 5px;
        border: 1px solid silver;
        color: red;
        font-size: 13px;
    }

    .borderb:hover {
        border: 1px solid red;
    }

    .pricea {
        font-size: 18px;
        color: red;
    }

    .pingjiaa {
        font-size: 13px;
        color: #666666;
    }

    .pingjiab {
        font-size: 18px;
        color: red;
    }

    .img_xing {
        vertical-align: middle;
    }

    .btn_guanzhu {
        border: 0;
        background: #F4F4F4;
        vertical-align: middle;
        font-size: 13px;
    }

    #myhomem {
        position: absolute;
        left: 300px;
        top: 30px;
        right: 0px;
        bottom: 0px;
        overflow: hidden;
    }

    .box_ms {
        position: relative;
        left: -150px;

    }

    .userData {
        behavior: url(#default#userdata);
    }
</style>
<asidehome>
    <div class="left">
        <div class="div1">
            <div class="div2">
                <div class="div2" style="font-size:25px;font-family: '楷体', '微软雅黑'">
                    <h2>全部功能</h2>
                </div>
                <div class="div2">
                    <div class="div2">
                        <div class="jbsz"></div>
                        <a href="{:url('home/user/userHome')}">我的收藏</a></div>
                    <div class="div2">
                        <div class="jbsz"></div>
                        <a href="{:url('home/user/userOrders',['type'=>'all'])}">全部订单</a>
                    </div>
                    <div class="div2">
                        <div class="jbsz"></div>
                        <a href="{:url('home/user/showCart')}">我的购物车</a></div>
                    <div class="div2">
                        <div class="jbsz"></div>
                        <a href="{:url('home/user/userMessage')}" style="color: #00a2d4;">我的个人资料</a></div>
                    <div class="div2">
                        <div class="jbsz"></div>
                        <a href="">我的评价</a></div>
                    <div class="div2">
                        <div class="jbsz"></div>
                        <a>退换货</a></div>

                </div>
            </div>
        </div>
    </div>
</asidehome>
<div id="myhomem">
    <div id="con">
        <div class="box_ms">
            <div style="height: 90px;"></div>
            <div class="container">
                <div class="row col-md-2"></div>
                <form class="form-horizontal" role="form" action="" method="post" id="formdata">
                    <div class="row col-md-5 ">
                        <div class="form-group">
                            <div class="container">
                                <div class="imageBox">
                                    <div class="thumbBox"></div>
                                    <div class="spinner" style="display: none">Loading...</div>
                                </div>
                                <div class="action" style="margin-top: 50px;">
                                    <input type="file" id="file" style="float:left; width: 200px">
                                    <input type="button" id="btnCrop" value="确认" style="float: right"
                                           class="btn btn-success">
                                    <input type="button" id="btnZoomIn" value="放大" style="float: left"
                                           class="btn btn-default">
                                    <input type="button" id="btnZoomOut" value="缩小" style="float: left"
                                           class="btn btn-default">
                                </div>
                                <div class="cropped">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-4" style="margin-top: 30px;">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="email">邮箱</label>
                            <div class="col-sm-6">
                                <p class="col-sm-12 control-label" id="email" onblur="alert('hhhhh')">
                                    {$user->getData('email')}
                                </p>
                            </div>
                            <div class="col-md-6" id="email_error"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="nick_name">昵称</label>
                            <div class="col-sm-6">
                                <p class="col-sm-12 control-label">
                                    {eq name="$user->getData('nick_name')" value=""}
                                    <span id="sp_nick_name">未设置</span>
                                    {else/}
                                    <span id="sp_nick_name">{$user->getData('nick_name')}</span>
                                    {/eq}
                                    <input type="text" id="input_nick_name" placeholder="请输入昵称"
                                           style="display: none">
                                    <a href="#"><span id="sp_re_nick_name" onclick="editMessage('nick_name')"
                                                      class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="#"><span id="sp_post_nick_name" onclick="toPostMessage('nick_name')"
                                                      class="glyphicon glyphicon-ok" style="display: none"></span></a>
                                    <a href="#"><span id="sp_remove_nick_name" onclick="
                                                   document.getElementById('sp_remove_nick_name').style.display='none';
                                                   document.getElementById('input_nick_name').style.display='none';
                                                   document.getElementById('sp_nick_name').style.display='inline';
                                                   document.getElementById('sp_re_nick_name').style.display='inline';
                                                   document.getElementById('sp_post_nick_name').style.display='none';"
                                                      class="glyphicon glyphicon-remove"
                                                      style="display: none"></span></a>
                                </p>
                                <input type="text" class="form-control" id="nick_name" name="nick_name"
                                       placeholder="请输入昵称" style="display: none">
                            </div>
                            <div class="col-md-6"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="password">密码</label>
                            <div class="col-sm-6">
                                <p class="col-sm-12 control-label">
                                    <span id="sp_password">修改密码</span>
                                    <input type="text" id="input_password" placeholder="请输入新密码"
                                           style="display: none">
                                    <a href="#"><span id="sp_re_password" onclick="editMessage('password')"
                                                      class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="#"><span id="sp_post_password" onclick="toPostMessage('password')"
                                                      class="glyphicon glyphicon-ok" style="display: none"></span></a>
                                    <a href="#"><span id="sp_remove_password" onclick="
                                                   document.getElementById('sp_remove_password').style.display='none';
                                                   document.getElementById('input_password').style.display='none';
                                                   document.getElementById('sp_password').style.display='inline';
                                                   document.getElementById('sp_re_password').style.display='inline';
                                                   document.getElementById('sp_post_password').style.display='none';"
                                                      class="glyphicon glyphicon-remove"
                                                      style="display: none"></span></a>
                                </p>
                                <input type="password" class="form-control" id="password" name="password"
                                       placeholder="请输入密码" style="display: none">
                            </div>
                            <div class="col-md-6" id="password_error"></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="name">用户名</label>
                            <div class="col-sm-6">
                                <p class="col-sm-12 control-label">
                                    <span id="sp_name">{$user->getData('user_name')}</span>
                                    <input type="text" id="input_name" placeholder="请输入新用户名"
                                           style="display: none">
                                    <a href="#"><span id="sp_re_name" onclick="editMessage('name')"
                                                      class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="#"><span id="sp_post_name" onclick="toPostMessage('name')"
                                                      class="glyphicon glyphicon-ok" style="display: none"></span></a>
                                    <a href="#"><span id="sp_remove_name" onclick="
                                                   document.getElementById('sp_remove_name').style.display='none';
                                                   document.getElementById('input_name').style.display='none';
                                                   document.getElementById('sp_name').style.display='inline';
                                                   document.getElementById('sp_re_name').style.display='inline';
                                                   document.getElementById('sp_post_name').style.display='none';"
                                                      class="glyphicon glyphicon-remove"
                                                      style="display: none"></span></a>
                                </p>
                                <input type="text" class="form-control" id="name" name="name"
                                       placeholder="请输入用户名" style="display: none">
                            </div>
                            <div class="col-md-6" id=""></div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="phone">联系方式</label>
                            <div class="col-sm-6">
                                <p class="col-sm-12 control-label">
                                    <span id="sp_phone"> {$user->getData('phone')}</span>
                                    <input type="text" id="input_phone" placeholder="请输入新用户名"
                                           style="display: none">
                                    <a href="#"><span id="sp_re_phone" onclick="editMessage('phone')"
                                                      class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="#"><span id="sp_post_phone" onclick="toPostMessage('phone')"
                                                      class="glyphicon glyphicon-ok" style="display: none"></span></a>
                                    <a href="#"><span id="sp_remove_phone" onclick="
                                                   document.getElementById('sp_remove_phone').style.display='none';
                                                   document.getElementById('input_phone').style.display='none';
                                                   document.getElementById('sp_phone').style.display='inline';
                                                   document.getElementById('sp_re_phone').style.display='inline';
                                                   document.getElementById('sp_post_phone').style.display='none';"
                                                      class="glyphicon glyphicon-remove"
                                                      style="display: none"></span></a>
                                </p>
                                <input type="text" class="form-control" id="phone" name="phone"
                                       placeholder="请输入联系方式" style="display: none">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="sbasb">个性签名</label>
                            <div class="col-sm-6">
                                <p class="col-sm-50 control-label">
                                    {eq name="$user->getData('sbasb')" value=""}
                                    <span id="sp_sbasb">这家伙很懒，神马都没留下。</span>
                                    {else/}
                                    <span id="sp_sbasb">{$user->getData('sbasb')}</span>
                                    {/eq}
                                    <input type="text" id="input_sbasb" placeholder="请输入个性签名"
                                           style="display: none">
                                    <a href="#"><span id="sp_re_sbasb" onclick="editMessage('sbasb')"
                                                      class="glyphicon glyphicon-pencil"></span></a>
                                    <a href="#"><span id="sp_post_sbasb" onclick="toPostMessage('sbasb')"
                                                      class="glyphicon glyphicon-ok" style="display: none"></span></a>
                                    <a href="#"><span id="sp_remove_sbasb" onclick="
                                                   document.getElementById('sp_remove_sbasb').style.display='none';
                                                   document.getElementById('input_sbasb').style.display='none';
                                                   document.getElementById('sp_sbasb').style.display='inline';
                                                   document.getElementById('sp_re_sbasb').style.display='inline';
                                                   document.getElementById('sp_post_sbasb').style.display='none';"
                                                      class="glyphicon glyphicon-remove"
                                                      style="display: none"></span></a>
                                </p>
                                <input type="text" class="form-control" id="sbasb" name="sbasb"
                                       placeholder="请输入个性签名" style="display: none">
                            </div>
                        </div>

                        <div class="col-md-6" id="other_error"></div>

                        <input type="hidden" id="hidd" name="base64Icon" value="">


                    </div>
                </form>
            </div>
        </div>

        <div style="position:relative;right: 5px;width:88%">
            <table class="table table-hover" id="table_address">
                <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>内容</th>
                    <th>联系方式</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {volist name="$user['address']" id="address"}
                <tr>
                    <td>{$key+1}</td>
                    <td>{$address['user_name']}</td>
                    <td>
                        <span id="td_con_address_{$address['id']}" ondblclick=editAddress("{$address['id']}")>{$address['content']}</span>
                        <div id="box_dizhi_{$address['id']}" style="display: none">
                            <select name="province" id="selProvince"
                                    onchange="getCity(this.options[this.selectedIndex].value)"
                                    class="userData">
                            </select>
                            <select name="city" id="selCity">
                            </select>
                            <input type="text" name="xiangxi" placeholder="详细地址">
                            <a href="#">
                                <span class="glyphicon glyphicon-ok"></span>
                            </a>
                        </div>
                    </td>
                    <td>{$address['phone']}</td>
                    <td><a href="#">删除</a>| <a href="#">编辑</a>| <a href="#">设为默认</a></td>
                </tr>
                {/volist}
                </tbody>
            </table>
            <table class="table table-hover" id="newAddress" style="display: none">
                <tr>
                    <td>&nbsp;</td>
                    <td><input type="text" id="addressName" placeholder="请输入姓名"></td>
                    <td>
                        <div class="info">
                            <div>
                                <select id="s_province" name="s_province"></select>&nbsp;&nbsp;
                                <select id="s_city" name="s_city"></select>&nbsp;&nbsp;
                                <select id="s_county" name="s_county"></select>
                            </div>
                            <div id="show"></div>
                        </div>
                        <input type="text" id="new_xiangxi" placeholder="详细地址">
                    </td>
                    <td><input type="text" id="new_phone" placeholder="请输入联系方式"></td>
                    <td>
                        <a href="#" onclick="toNewAddress()"><span class="glyphicon glyphicon-ok"></span></a>
                        <a href="#" onclick="document.getElementById('newAddress').style.display='none';"><span
                                class="glyphicon glyphicon-remove"></span></a>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <button type="button" class="btn btn-info"
                    onclick="document.getElementById('newAddress').style.display='inline';">添加新地址
            </button>
        </div>
    </div>
</div>

<script type="text/javascript">
    var Gid = document.getElementById;
    var showArea = function () {
        Gid('show').innerHTML = "<h3>" + Gid('s_province').value + " - " +
                Gid('s_city').value + " - " +
                Gid('s_county').value + "</h3>"
    }
    Gid('s_county').setAttribute('onchange', 'showArea()');
    function toNewAddress() {
        var addressName = document.getElementById("addressName");
        var addressNameStr = addressName.value;
        var s_province = $('#s_province option:selected').val();//选中的值
        var s_city = $('#s_city option:selected').val();
        var s_county = $('#s_county option:selected').val();
        var new_xiangxi = document.getElementById("new_xiangxi");
        var new_xiangxiStr = new_xiangxi.value;
        var addressContent = "地址：" + s_province + " " + s_city + " " + s_county + " " + new_xiangxiStr;
        var new_phone = document.getElementById("new_phone");
        var new_phoneStr = new_phone.value;
        if (addressNameStr != "" && addressContent != "" && new_phoneStr != "") {
            $.ajax({
                type: "POST",
                url: "{:url('home/user/addAddress')}",
                dataType: "json",
                data: {
                    addressNameStr: addressNameStr,
                    addressContent: addressContent,
                    new_phoneStr: new_phoneStr
                },
                success: function (msg) {
                    switch (msg) {
                        case "ReceiptSuccess":
                            document.location.reload();//当前页面
                            break;
                        case "PostError":
                            //非法请求
                            alert("非法请求");
                            break;
                        case "ParameterError":
                            //参数错误
                            alert("参数错误！");
                            break;
                        default:
                    }
                },
                error: function (msg) {
                    alert(msg);
                },
            });
        } else {
            alert('地址未填写完整！');
        }
    }
</script>
<script type="text/javascript">_init_area();</script>
<script type="text/javascript">
    window.onload = function () {
        var options =
        {
            imageBox: '.imageBox',
            thumbBox: '.thumbBox',
            spinner: '.spinner',
            imgSrc: "{:$iconRoot.$user['icon']}"
        }
        var cropper = new cropbox(options);
        document.querySelector('#file').addEventListener('change', function () {
            var reader = new FileReader();
            reader.onload = function (e) {
                options.imgSrc = e.target.result;
                cropper = new cropbox(options);
            }
            reader.readAsDataURL(this.files[0]);
            this.files = [];
        })
        document.querySelector('#btnCrop').addEventListener('click', function () {
            var img = cropper.getDataURL();
            $('#hidd').val(img);
            var imgBase64 = $('#hidd').val();
            $.ajax({
                type: "POST",
                url: "{:url('home/user/editIcon')}",
                dataType: "json",
                data: {
                    imgBase64: imgBase64
                },
                success: function (msg) {
//                    alert(msg);
                    switch (msg) {
                        case 'success':
                            document.location.reload();//当前页面
                            alert("头像修改成功！");
                            break;
                        case 'UploadsError':
                            alert("上传失败！");
                            break;
                        case 'PostError':
                            alert("提交方式出错！");
                            break;
                        case 'ParameterError':
                            alert("请求参数不全！");
                            break;
                        default:
                            getlayout("other_error", msg);

                    }
                },
            });
        })
        document.querySelector('#btnZoomIn').addEventListener('click', function () {
            cropper.zoomIn();
        })
        document.querySelector('#btnZoomOut').addEventListener('click', function () {
            cropper.zoomOut();
        })
    };
    $(function () {
        initProvince();
    });

    //==========================================

    //获得错误html代码
    function getlayout(elid, str) {
        $("#" + elid).empty();
        $("#" + elid).parent().removeClass("has-success");
        $("#" + elid).parent().addClass("has-error");
        $("#" + elid).append(
                "<font style='color:red;font-weight:bold;'><span class='glyphicon glyphicon-remove'></span> " + str + "</font>"
        );
    }

    //双击编辑地址
    function editAddress(addressId) {
//        document.getElementById("EleId").style.display="none";
//        document.getElementById("EleId").style.display="inline";
        var td_con_address = document.getElementById("td_con_address_" + addressId);
        td_con_address.style.display = "none";
        document.getElementById("box_dizhi_" + addressId).style.display = "inline";
    }
    //编辑个人信息
    function editMessage(type) {
        switch (type) {
            case "nick_name":
                var sp_nick_name = document.getElementById("sp_nick_name");
                var input_nick_name = document.getElementById("input_nick_name");
                var sp_re_nick_name = document.getElementById("sp_re_nick_name");
                var sp_post_nick_name = document.getElementById("sp_post_nick_name");
                document.getElementById('sp_remove_nick_name').style.display = 'inline';
                sp_nick_name.style.display = "none";
                input_nick_name.style.display = "inline";
                sp_re_nick_name.style.display = "none";
                sp_post_nick_name.style.display = "inline";
                break;
            case "password":
                var sp_password = document.getElementById("sp_password");
                var input_password = document.getElementById("input_password");
                var sp_re_password = document.getElementById("sp_re_password");
                var sp_post_password = document.getElementById("sp_post_password");
                document.getElementById('sp_remove_password').style.display = 'inline';
                sp_password.style.display = "none";
                input_password.style.display = "inline";
                sp_re_password.style.display = "none";
                sp_post_password.style.display = "inline";
                break;
            case "name":
                var sp_name = document.getElementById("sp_name");
                var input_name = document.getElementById("input_name");
                var sp_re_name = document.getElementById("sp_re_name");
                var sp_post_name = document.getElementById("sp_post_name");
                document.getElementById('sp_remove_name').style.display = 'inline';
                sp_name.style.display = "none";
                input_name.style.display = "inline";
                sp_re_name.style.display = "none";
                sp_post_name.style.display = "inline";
                break;
            case "phone":
                var sp_phone = document.getElementById("sp_phone");
                var input_phone = document.getElementById("input_phone");
                var sp_re_phone = document.getElementById("sp_re_phone");
                var sp_post_phone = document.getElementById("sp_post_phone");
                document.getElementById('sp_remove_phone').style.display = 'inline';
                sp_phone.style.display = "none";
                input_phone.style.display = "inline";
                sp_re_phone.style.display = "none";
                sp_post_phone.style.display = "inline";
                break;
            case "sbasb":
                var sp_sbasb = document.getElementById("sp_sbasb");
                var input_sbasb = document.getElementById("input_sbasb");
                var sp_re_sbasb = document.getElementById("sp_re_sbasb");
                var sp_post_sbasb = document.getElementById("sp_post_sbasb");
                document.getElementById('sp_remove_sbasb').style.display = 'inline';
                sp_sbasb.style.display = "none";
                input_sbasb.style.display = "inline";
                sp_re_sbasb.style.display = "none";
                sp_post_sbasb.style.display = "inline";
                break;
            default:
                break;
        }
    }
    function toPostMessage(type) {
        var postType = "";
        var postValue = "";
        switch (type) {
            case "nick_name":
                var input_nick_name = document.getElementById("input_nick_name");
                if (input_nick_name.value != "") {
                    postType = "nick_name";
                    postValue = input_nick_name.value;
                } else {
                    alert("您还没有输入任何昵称哦");
                }
                break;
            case "password":
//                var input_password = document.getElementById("input_password");
//                if (input_password.value != "") {
//                    postType = "password";
//                    postValue = input_password.value;
//                } else {
//                    alert("您还没有输入新密码哦");
//                }
                    alert("暂时允许修改密码！");
                    return;
                break;
            case "name":
                var input_name = document.getElementById("input_name");
                if (input_name.value != "") {
                    postType = "user_name";
                    postValue = input_name.value;
                } else {
                    alert("您还没有输入新用户名哦");
                }
                break;
            case "phone":
                var input_phone = document.getElementById("input_phone");
                if (input_phone.value != "") {
                    postType = "phone";
                    postValue = input_phone.value;
                } else {
                    alert("您还没有输入新联系方式哦");
                }
                break;
            case "sbasb":
                var input_sbasb = document.getElementById("input_sbasb");
                if (input_sbasb.value != "") {
                    postType = "sbasb";
                    postValue = input_sbasb.value;
                } else {
                    alert("您还没有输入任何文字哦");
                }
                break;
            default:
                break;
        }
        $.ajax({
            type: "POST",
            url: "{:url('home/user/editMessage')}",
            dataType: "json",
            data: {
                postType: postType,
                postValue: postValue
            },
            success: function (msg) {
                switch (msg) {
                    case "success":
                        var sp_success = document.getElementById("sp_" + type);
                        sp_success.style.display = "inline";
                        sp_success.innerText = "";
                        sp_success.innerText = postValue;
//                        document.getElementById("sp_nick_name");
                        document.getElementById("input_" + type).style.display = "none";
                        document.getElementById("sp_re_" + type).style.display = "inline";
                        document.getElementById("sp_post_" + type).style.display = "none";
                        document.getElementById('sp_remove_' + type).style.display = 'none';
//                        alert("更新成功！");
                        break;
                    case "false":
                        //数据更新失败
                        alert("数据更新失败！");
                        break;
                    case "PostError":
                        //非法请求
                        alert("非法请求");
                        break;
                    case "ParameterError":
                        //参数错误
                        alert("参数错误！");
                        break;
                    default:
                }
            },
            error: function (msg) {
                alert(msg);
            },
        });
    }
    function addNewAddress() {

    }
</script>


