{layout name="layout" /}
<block name="resources">
    {load href="__PUBLIC__/adminzuoce/myadmin.css" /}
</block>
<section id="main">
    <div id="con">
        <div align="center">
            <div class="row">
                <div class="col-md-11">

                    <div class="row">

                        <div class="col-md-5">
                            <form class="form-inline">
                                <div class="form-group">
                                    <label class="sr-only" >Search</label>
                                    <input name="name" type="text" class="form-control" placeholder="查询..." value={:input('get.name')}>
                                </div>
                                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
                            </form>
                        </div>
                        <form action="{:url('admin/type/add')}" method="post"  class="form-inline">

                            <div class="form-group">
                                <div class="col-md-8">
                                    <label class="sr-only" >Add</label>
                                    <input  type="text" name="content" class="form-control" placeholder="添加...">
                                </div>
                                <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp;确定</button>
                            </div>
                        </form>
                    </div>

                    <table class="table table-hover table-bordered" style="width: 1300px">
                        <tr class="info" >
                            <th>id</th>
                            <th>内容</th>
                            <th>操作</th>
                        </tr>
                        {volist name="types" id="type"}
                        <tr>
                            <td>{$type.id}</td>
                            <td>{$type.content}</td>
                            <td><a class="btn btn-danger btn-sm" href=""><i class="glyphicon glyphicon-trash"></i>&nbsp;删除</a>&nbsp;
                                <a class="btn btn-sm btn-primary" href="">
                                    <i class="glyphicon glyphicon-pencil"></i>&nbsp;编辑</a>
                            </td>
                        </tr>
                        {/volist}
                    </table>

                </div>
            </div>
    </div>
    </div>
</section>