{layout name="layout" /}
<block name="titel" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"><title>
    周边购-GO!{$commodity->getData('title')}</title></block>
<block name="resources">
    {load href="__PUBLIC__/homestatic/js/spxiangxi.js" /}
    {load href="__PUBLIC__/homestatic/css/spxiangxi.css" /}
    {load href="__PUBLIC__/homestatic/js/dizhi.js" /}

</block>


<asideleft>
    <div class="preview">
        <div id="vertical" class="bigImg">
            <!--<img src="__PUBLIC__/homestatic/img/TB1.jpg" width="400" height="400" alt="" id="midimg"/>-->
            <img src="{$images[0]}" width="400" height="400" alt="" id="midimg"/>
            <div style="display:none;" id="winSelector"></div>
        </div><!--bigImg end-->

        <div class="smallImg">
            <div class="scrollbutton smallImgUp disabled"></div>
            <div id="imageMenu">
                <ul>
                    {volist name="images" id="item"}
                    {eq name="$key" value="0"}
                    <li id="onlickImg"><img src="{$item}" width="68" height="68" alt=""/></li>
                    {else/}
                    <li><img src="{$item}" width="68" height="68" alt=""/></li>
                    {/eq}
                    {/volist}
                </ul>
            </div>
            <div class="scrollbutton smallImgDown"></div>
        </div><!--smallImg end-->
        <div id="bigView" style="display:none;"><img width="800" height="800" alt="" src=""/></div>
    </div>
</asideleft>

<style>


    .userData {
        behavior: url(#default#userdata);
    }

    .inline a {
        display: inline-table;
        width: 180px;
        height: 50px;
        background: #CD0003;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-family: "微软雅黑";
        text-decoration: none;
        font-weight: bold;
    }

    input[type='radio']{display:inline-block; height:20px; }

</style>
<section id="xxmain">
        <span style="font-size: 20px;font-weight: bold">【{$commodity->getData("title")}】
        </span>
    <div style="height: 6px"></div>
    <div style="background: #ffffcc;width: 660px;height: 300px">
        <div style="height: 5px"></div>
        <span>分类:{$commodity['type']['content']}</span>
        </br></br>
        <span>价格:<i style="color: #d33724" id="i_price">￥--.--</i></span>
        </br></br>
        <span>
      <body onload="initProvince()">

        配送至:
        <select name="province" id="selProvince" onchange="getCity(this.options[this.selectedIndex].value)"
                class="userData">
        </select>
        <select name="city" id="selCity">
        </select>
</body>
        <i style="font-size: 14px">有货</i>
    </span>
        <div style="height: 10px;"></div>


        <div>
            选择类型:
            {volist name="$commodity['specifications']" id="vo" }
            {switch name="$key"}
            {case value="0"}
            <div id="{$vo['id']}">
                <label onclick=showSpecification("{$vo['repertory']}","{$vo['price']}","{$vo['id']}")>
                    <input name="Fruit" type="radio" value="" checked/>{$vo['content']}</label>
            </div>
            {/case}
            {default /}
            <div id="{$vo['id']}">
                <label onclick=showSpecification("{$vo['repertory']}","{$vo['price']}","{$vo['id']}")>
                    <input name="Fruit" type="radio" value="" />{$vo['content']}</label>
            </div>
            {/switch}

            {/volist}
        </div>

    </div>
    </br>
    <span>销量{$commodity['staistics']}</span><br/>

    <a href="#">

        <section class="bordera" onmouseover="over_id('0');" onmouseout="out_id('0');">
            <img class="img_xing" id="b0" src="/SpeedyShopping/public/wei/images/baixing.png"
                 style="width: 20px;height: 20px;">
            <button class="btn_guanzhu">关注</button>
        </section>

    </a>

    <span>
        <input id="min" name="" type="button" value="-"/>
<input id="text_box" name="" type="text" value="1"/>
<input id="add" name="" type="button" value="+"/>
                库存：<span id="s_repertory">--</span>
    </span>
    <div class="inline">

        <a href="#" style="background-color: #d33724;color: #fff" onclick="postBay()">立即购买</a>
        &nbsp;
        <a href="#" style=" background-color: #d33724;color: #fff" onclick=addToCart("{$commodity['id']}")>加入购物车</a>
    </div>
    <form id="post_bay" action="{:url('home/user/buyOne')}" method="post">
        <!--标记规格的ID-->
        <input type="hidden" name="specificationId" id="specificationId" value="{$commodity['specifications'][0]['id']}">
        <input type="hidden" name="commodityId" value="{$commodity['id']}">
        <input type="hidden" name="count" id="count" value="">
    </form>
</section>
<asidefoot>
    <p>商品信息</p>
    <ul class="nav nav-tabs">
        <li class="active" id="li_describe" onclick="showContent('li_describe')"><a href="#">宝贝描述</a></li>
        <li id="li_parameter" onclick="showContent('li_parameter')"><a href="#">宝贝参数</a></li>
        <li id="li_comment" onclick="showContent('li_comment')"><a href="#">评价<i style="color: #d33724">({:count($commodity['comments'])})</i></a>
        </li>
    </ul>
    <div id="ending">
        {$commodity->getData("describe")}
    </div>
</asidefoot>
<script type="text/javascript">
    function showContent(id) {
        var li = document.getElementById(id);
        var li_1 = document.getElementById("li_describe");
        var li_2 = document.getElementById("li_parameter");
        var li_3 = document.getElementById("li_comment");
        li_1.setAttribute("class", "");
        li_2.setAttribute("class", "");
        li_3.setAttribute("class", "");
        li.setAttribute("class", "active");

        var content = document.getElementById("ending");
        content.innerHTML = "";
        if (id == "li_describe") {
            content.innerHTML = "{$commodity->getData('describe')}";
        } else if (id == "li_parameter") {
            var str = "{volist name='parameters' id='item' key='key'}{$key}:{$item}-/{/volist}";
            var arrParas = [];
            var con = "";
            arrParas = str.split("-/");
            for (i = 0; i < arrParas.length; i++) {
                if (i != 0 && (i % 2) == 0) {
                    con += "<span>" + arrParas[i] + "</span>&nbsp;&nbsp;&nbsp;&nbsp;<br/>";
                } else {
                    con += "<span>" + arrParas[i] + "</span>&nbsp;&nbsp;&nbsp;&nbsp;";
                }
            }
            content.innerHTML = con;
        } else if (id == "li_comment") {

        }
    }

    //关注（心）图标处理
    function over_id(id) {
//        alert(id);
        document.getElementById('b' + id).src = "/SpeedyShopping/public/wei/images/hongxing.png"
    }
    function out_id(id) {
//        alert(id);
        document.getElementById('b' + id).src = "/SpeedyShopping/public/wei/images/baixing.png"
    }
</script>

<script type="text/javascript">
    //数量加减
    $(document).ready(function () {
//获得文本框对象
        var t = $("#text_box");
//初始化数量为1,并失效减
        $('#min').attr('disabled', true);
        //数量增加操作
        $("#add").click(function () {
            t.val(parseInt(t.val()) + 1)
            if (parseInt(t.val()) != 1) {
                $('#min').attr('disabled', false);
            }
            document.getElementById("count").value = t.val();
        })
        //数量减少操作
        $("#min").click(function () {
            t.val(parseInt(t.val()) - 1);
            if (parseInt(t.val()) == 1) {
                $('#min').attr('disabled', true);
            }
            document.getElementById("count").value = t.val();
        });

        document.getElementById("count").value = 1;
        //初始化规格
        document.getElementById("specificationId").value = "{$commodity['specifications'][0]['id']}";
        document.getElementById("i_price").innerText = "￥{$commodity['specifications'][0]['price']}";
        document.getElementById("s_repertory").innerText = "{$commodity['specifications'][0]['repertory']}";
    });

    //用户切换规格
    function showSpecification(repertory, price, id) {
        document.getElementById("specificationId").value = "";
        document.getElementById("specificationId").value = id;
        document.getElementById("i_price").innerText = "￥" + price;
        document.getElementById("s_repertory").innerText = repertory;
    }
    //立即购买 提交按钮
    function postBay() {
        var specificationId = document.getElementById("specificationId").value;
        var commodityId = "{$commodity['id']}";
        var url = "{:url('home/user/buyOne')}";
        $("#post_bay").submit();

    }

    //添加到购物车
    function addToCart(commodityId) {
        var specificationId = document.getElementById("specificationId").value;
        $.ajax({
            type: "POST",
            url: "{:url('home/user/addToCart')}",
            dataType: "json",
            data: {
                commodityId: commodityId,
                specificationId:specificationId
            },
            success: function (msg) {
                switch (msg) {
                    case "AddCartSuccess":
                        alert("添加进购物车成功！");
                        break;
                    case "NotRepertory":
                        alert("库存不足！店小二正在急忙补货中！");
                        break;
                    case "NotFindSpecification":
                        alert("规格参数不正确");
                        break;
                    case "IllegalRequest":
                        //非法请求
                        alert("非法请求");
                        break;
                    case "UserNotLogin":
                        window.location = "{:url('home/thing/login')}";
                        break;
                    case "NotFindCommodity":
                        alert('这件宝贝从地球上消失了~~');
                        break;
                    default:

                }
            },
            error: function (msg) {
                alert(msg);
            },
        });
    }
</script>
