

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-param" content="_csrf-backend">
<meta name="csrf-token" content="SE42bVBMZ2MRKEElGy4CVgMsUzgdG1cNCgYbIhE.UVA6ehsPCSorNA==">

<link rel="stylesheet" type="text/css" href="/speedyShopping/public/static/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/speedyShopping/public/static/css/bootstrapWei.css">
<link rel="stylesheet" type="text/css" href="/speedyShopping/public/static/css/siteWei.css">
<link rel="stylesheet" type="text/css" href="/speedyShopping/public/static/css/font-awesomeWei.min.css">
<link rel="stylesheet" type="text/css" href="/speedyShopping/public/static/css/AdminLTEWei.min.css">
<link rel="stylesheet" type="text/css" href="/speedyShopping/public/static/css/skin-redWei.min.css">

<script src="/speedyShopping/public/static/js/appWei.min.js"></script>
<script src="/speedyShopping/public/static/js/bootstrapWei.js"></script>
<script src="/speedyShopping/public/static/js/jqueryWei.js"></script>
<script src="/speedyShopping/public/static/js/yiiWei.js"></script>

<div class="hold-transition skin-red sidebar-mini">



<!--底部-->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>ThinkPHP</b> 5.0
    </div>
    <strong>SpeedyShopping &copy; 2016-2017 <a href="http://baidu.com">友情链接</a>.</strong>版权所有
</footer>


</div>