<block name="resources">

    {load href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css" /}
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    {load href="__PUBLIC__/static/bootstrap/js/bootstrap.min.js" /}
    {load href="__PUBLIC__/adminzuoce/myadmin.css" /}
</block>


</head>
<body>
<header>
    <div class="navbar navbar-fixed-top navbar-default" role="navigation" >
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"  style="float: left">周边送</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#"><span class="glyphicon glyphicon-home">Home</span></a></li>
                    <li><a href="#shop"><span class="glyphicon glyphicon-shopping-cart">Shop</span></a></li>
                    <li><a href="#support"><span class="glyphicon glyphicon-headphones">Support</span></a></li>
                </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
            </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div>
</header>
<!--<aside>Side Nav</aside>-->


<!--<section id="main">-->
    <!--<div id="con">-->
        <!--这里写内容-->
    <!--</div>-->
<!--</section>-->





