<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {load href="__PUBLIC__/adminzuoce/myadmin.css" /}
    {load href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css" /}
    {load href="__PUBLIC__/static/bootstrap/js/bootstrap.min.js" /}
    {load href="__PUBLIC__/static/zyupload/jquery-1.7.2.js" /}
    <script src="https://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <block name="resources"></block>

</head>
<body>

        {include file="./header" /}
        {include file="./left" /}
        <section id="main">
        <div id="con">
            {__CONTENT__}
            <div id="zyupload" class=""></div>
        </div>
        </section>


</body>
</html>

























