<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {load href="__PUBLIC__/static/bootstrap/css/bootstrap.min.css" /}
    <!--{load href="__PUBLIC__/static/js/jquery-3.1.1.min.js" /}-->
    {load href="__PUBLIC__/static/bootstrap/js/bootstrap.min.js" /}

    {load href="__PUBLIC__/static/js/WdatePicker.js" /}

    {load href="__PUBLIC__/static/zyupload/skins/zyupload-1.0.0.min.css" /}
    {load href="__PUBLIC__/static/zyupload/jquery-1.7.2.js" /}
    {load href="__PUBLIC__/static/zyupload/zyupload-1.0.0.js" /}

    {load href="__PUBLIC__/static/js/addCommodity.js" /}

</head>
    <body >
    <!--{__CONTENT__}-->
    <div class="zong">
        <div class="shang" style="margin-bottom: 2px;">
            {include file="./header" /}
        </div>
        <!--<div style="height: 200px;background: forestgreen"></div>-->
        <div class="zuo" style="float: left">
            {include file="./left" /}
        </div>
        <div class="you" style="float: left;margin-left: ;">
            {__CONTENT__}
            <div id="zyupload" class=""></div>
        </div>
    </div>

    </body>
</html>

























