
<aside>
    <!--<script type="text/javascript">-->

      <!--$(document).ready(function(){ //页面文档结构加载完成之后执行的方法-->

            <!--$(".div2").click(function(){ //给class为div2的所有元素添加click事件-->
                <!--//当前点击对象的下一个div和下一个class为div3:visible元素 滑入滑出。-->
                <!--$(this).next("div").slideToggle("slow").siblings(".div3:visible").slideUp("slow");-->


            <!--});-->

        <!--});-->


    <!--</script>-->
    <!--<div class="left">-->

        <!--<div class="div1">-->

            <!--<div class="left_top">-->
                <!--<a href="#"> <button type="button" class="btn btn-primary btn-md" style="text-shadow: black 5px 3px 3px;width: 150px">-->
                    <!--<span class="	glyphicon glyphicon-home"></span>&nbsp;Home-->
                <!--</button></a>-->
                <!--&lt;!&ndash;<a href="{:url('admin/Index/index')}"><img src="__PUBLIC__/adminzuoce/images/bbb_03.jpg"&ndash;&gt;-->
                <!--&lt;!&ndash;width="120px"height="35"/></a>&ndash;&gt;-->

            <!--</div>-->

            <!--<div class="div2"><div class="jbsz"> </div>系统设置-->
                <!--<span class="glyphicon glyphicon-chevron-down" id="toge"></span> </div>-->

            <!--<div class="div3">-->

                <!--<ul>-->

                    <!--<li> 网站配置</li>-->

                    <!--<li> 管理设置</li>-->

                    <!--<li> 导航菜单</li>-->

                <!--</ul>-->

            <!--</div>-->

            <!--<div class="div2"><div class="xwzx"> </div>权限管理-->
                <!--<span class="glyphicon glyphicon-chevron-down"></span></div>-->

            <!--<div class="div3">-->

                <!--<ul>-->

                    <!--<li> 管理员列表</li>-->
                    <!--<li> 角色管理</li>-->

                    <!--<li> 供应商管理</li>-->
                    <!--<li> 管理员日志</li>-->
                <!--</ul>-->

            <!--</div>-->

            <!--<div class="div2"><div class="zxcp"> </div>商品管理 <span class="glyphicon glyphicon-chevron-down"></span></div>-->

            <!--<div class="div3">-->

                <!--<ul>-->

                    <!--<li ><a href="{:url('admin/Type/index')}">商品分类</a></li>-->

                    <!--<li ><a href="{:url('admin/Commodity/index')}">商品列表</a> </li>-->
                    <!--<li > 商品评论</li>-->
                    <!--<li> 商品咨询</li>-->
                    <!--<li> 商品属性</li>-->
                <!--</ul>-->

            <!--</div>-->

            <!--<div class="div2"><div class="lmtj"> </div> 订单管理 <span class="glyphicon glyphicon-chevron-down"></span></div>-->

            <!--<div class="div3">-->

                <!--<ul>-->

                    <!--<li> 订单列表</li>-->

                    <!--<li> 发货单</li>-->

                    <!--<li> 退货单</li>-->

                    <!--<li> 添加订单</li>-->
                    <!--<li> 订单日志</li>-->

                <!--</ul>-->

            <!--</div>-->

        <!--</div>-->

    <!--</div>-->


    <style type="text/css">
        .menu_list{width:200px;height:auto;margin:0 auto; float: left;}
        .menu_head{
            height: 140px;
            line-height: 147px;
            padding-left: 10px;
            font-size: 14px;
            color: #525252;
            cursor: pointer;
            border-left: 1px solid #e1e1e1;
            border-right: 1px solid #e1e1e1;
            border-bottom: 1px solid #e1e1e1;
            border-top: 1px solid #F1F1F1;
            position: relative;
            margin: 0px;
            font-weight: bold;
            background: #f1f1f1 url('/SpeedyShopping/public/adminzuoce/images/pro_left.png') center right no-repeat;
        }
        .menu_list .current{background:#f1f1f1 url('__PUBLIC__/adminzuoce/images/pro_down.png') center right no-repeat;}
        .menu_body{
            line-height: 38px;
            border-left: 1px solid #e1e1e1;
            backguound: #fff;
            border-right: 1px solid #e1e1e1;
        }
        .menu_body a{display:block;height:38px;line-height:38px;padding-left:38px;color:#777777;background:#fff;text-decoration:none;border-bottom:1px solid #e1e1e1;}
        .menu_body a:hover{text-decoration:none;color: #d33724}
    </style>
    <div id="firstpane" class="menu_list">
        <h3 class="menu_head current">系统设置</h3>
        <div style="display:block" class="menu_body">
            <a href="{:url('admin/Commodity/index')}">权限资源列表</a>
            <a href="{:url('admin/type/index')}">管理设置</a>


        </div>
        <h3 class="menu_head">权限管理</h3>
        <div style="display:none" class="menu_body">
            <a href="#">管理员列表</a>
            <a href="#">角色管理</a>
            <a href="#">供应商管理</a>
            <a href="#">管理员日志</a>
        </div>
        <h3 class="menu_head">商品管理</h3>
        <div style="display:none" class="menu_body">
            <a href="#">商品分类</a>
            <a href="#">商品列表</a>
            <a href="#">库存日志</a>
            <a href="#">商品评论</a>
            <a href="#">商品咨询</a>

        </div>
        <h3 class="menu_head">订单管理</h3>
        <div style="display:none" class="menu_body">
            <a href="#">订单列表</a>
            <a href="#">发货单</a>
            <a href="#">退货单</a>
            <a href="#">添加订单</a>
            <a href="#">订单日志</a>
            <a href="#">促销管理</a>
            <a href="#">统计报表</a>


        </div>
        <h3 class="menu_head">自提点管理</h3>
        <div style="display:none" class="menu_body">
            <a href="#">添加自提点</a>
            <a href="#">自提点列表</a>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#firstpane .menu_body:eq(0)").show();
            $("#firstpane h3.menu_head").click(function(){
                $(this).addClass("current").next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");
                $(this).siblings().removeClass("current");
            });
            $("#secondpane .menu_body:eq(0)").show();
            $("#secondpane h3.menu_head").mouseover(function(){
                $(this).addClass("current").next("div.menu_body").slideDown(500).siblings("div.menu_body").slideUp("slow");
                $(this).siblings().removeClass("current");
            });
        });
    </script>


</aside>