
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="csrf-param" content="_csrf-backend">
<meta name="csrf-token" content="SE42bVBMZ2MRKEElGy4CVgMsUzgdG1cNCgYbIhE.UVA6ehsPCSorNA==">

<link rel="stylesheet" type="text/css" href="/speedyShopping/public/static/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" type="text/css" href="/speedyShopping/public/static/css/bootstrapWei.css">
<link rel="stylesheet" type="text/css" href="/speedyShopping/public/static/css/siteWei.css">
<link rel="stylesheet" type="text/css" href="/speedyShopping/public/static/css/font-awesomeWei.min.css">
<link rel="stylesheet" type="text/css" href="/speedyShopping/public/static/css/AdminLTEWei.min.css">
<link rel="stylesheet" type="text/css" href="/speedyShopping/public/static/css/skin-redWei.min.css">

<script src="/speedyShopping/public/static/js/appWei.min.js"></script>
<script src="/speedyShopping/public/static/js/bootstrapWei.js"></script>
<script src="/speedyShopping/public/static/js/jqueryWei.js"></script>
<script src="/speedyShopping/public/static/js/yiiWei.js"></script>




<div class="hold-transition skin-red sidebar-mini">

<!--左边主体-->
<aside class="main-sidebar">

    <section class="sidebar">

        <!-- 侧边栏用户面板 -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/speedyShopping/public/static/images/user2-160x160.jpg" class="img-circle" alt="User Image"/>
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>

                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <!-- 查询表单 -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search..."/>
                <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->

    </section>

</aside>

</div>