
<aside>
    <script type="text/javascript">

      $(document).ready(function(){ //页面文档结构加载完成之后执行的方法

            $(".div2").click(function(){ //给class为div2的所有元素添加click事件
                //当前点击对象的下一个div和下一个class为div3:visible元素 滑入滑出。
                $(this).next("div").slideToggle("slow").siblings(".div3:visible").slideUp("slow");


            });

        });


    </script>
    <div class="left">

        <div class="div1">

            <div class="left_top">
                <a href="#"> <button type="button" class="btn btn-primary btn-md" style="text-shadow: black 5px 3px 3px;width: 150px">
                    <span class="	glyphicon glyphicon-home"></span>&nbsp;Home
                </button></a>
                <!--<a href="{:url('admin/Index/index')}"><img src="__PUBLIC__/adminzuoce/images/bbb_03.jpg"-->
                <!--width="120px"height="35"/></a>-->

            </div>

            <div class="div2"><div class="jbsz"> </div>系统设置
                <span class="glyphicon glyphicon-chevron-down" id="toge"></span> </div>

            <div class="div3">

                <ul>

                    <li> 网站配置</li>

                    <li> 管理设置</li>

                    <li> 导航菜单</li>

                </ul>

            </div>

            <div class="div2"><div class="xwzx"> </div>权限管理
                <span class="glyphicon glyphicon-chevron-down"></span></div>

            <div class="div3">

                <ul>

                    <li> 管理员列表</li>
                    <li> 角色管理</li>

                    <li> 供应商管理</li>
                    <li> 管理员日志</li>
                </ul>

            </div>

            <div class="div2"><div class="zxcp"> </div>商品管理 <span class="glyphicon glyphicon-chevron-down"></span></div>

            <div class="div3">

                <ul>

                    <li ><a href="{:url('admin/Type/index')}">商品分类</a></li>

                    <li ><a href="{:url('admin/Commodity/index')}">商品列表</a> </li>
                    <li > 商品评论</li>
                    <li> 商品咨询</li>
                    <li> 商品属性</li>
                </ul>

            </div>

            <div class="div2"><div class="lmtj"> </div> 订单管理 <span class="glyphicon glyphicon-chevron-down"></span></div>

            <div class="div3">

                <ul>

                    <li> 订单列表</li>

                    <li> 发货单</li>

                    <li> 退货单</li>

                    <li> 添加订单</li>
                    <li> 订单日志</li>

                </ul>

            </div>

        </div>

    </div>


    <!--<style type="text/css">-->
        <!--.menu_list{width:200px;margin:0 auto; float: left;}-->
        <!--.menu_head{-->
            <!--height: 47px;-->
            <!--line-height: 47px;-->
            <!--padding-left: 10px;-->
            <!--font-size: 14px;-->
            <!--color: #525252;-->
            <!--cursor: pointer;-->
            <!--border-left: 1px solid #e1e1e1;-->
            <!--border-right: 1px solid #e1e1e1;-->
            <!--border-bottom: 1px solid #e1e1e1;-->
            <!--border-top: 1px solid #F1F1F1;-->
            <!--position: relative;-->
            <!--margin: 0px;-->
            <!--font-weight: bold;-->
            <!--background: #f1f1f1 url('/SpeedyShopping/public/adminzuoce/images/pro_left.png') center right no-repeat;-->
        <!--}-->
        <!--.menu_list .current{background:#f1f1f1 url('__PUBLIC__/adminzuoce/images/pro_down.png') center right no-repeat;}-->
        <!--.menu_body{-->
            <!--line-height: 38px;-->
            <!--border-left: 1px solid #e1e1e1;-->
            <!--backguound: #fff;-->
            <!--border-right: 1px solid #e1e1e1;-->
        <!--}-->
        <!--.menu_body a{display:block;height:38px;line-height:38px;padding-left:38px;color:#777777;background:#fff;text-decoration:none;border-bottom:1px solid #e1e1e1;}-->
        <!--.menu_body a:hover{text-decoration:none;color: #d33724}-->
    <!--</style>-->
    <!--<div id="firstpane" class="menu_list">-->
        <!--<h3 class="menu_head current">哲学</h3>-->
        <!--<div style="display:block" class="menu_body">-->
            <!--<a href="{:url('admin/Commodity/index')}">科学技术哲学</a>-->
            <!--<a href="#">宗教学</a>-->
            <!--<a href="#">美学</a>-->
            <!--<a href="#">伦理学</a>-->

        <!--</div>-->
        <!--<h3 class="menu_head">经济学</h3>-->
        <!--<div style="display:none" class="menu_body">-->
            <!--<a href="#">应用经济学</a>-->
            <!--<a href="#">理论经济学</a>-->

        <!--</div>-->
        <!--<h3 class="menu_head">法学</h3>-->
        <!--<div style="display:none" class="menu_body">-->
            <!--<a href="#">马克思主义基本原理</a>-->

        <!--</div>-->
        <!--<h3 class="menu_head">教育学</h3>-->
        <!--<div style="display:none" class="menu_body">-->
            <!--<a href="#">体育人文社会学</a>-->

        <!--</div>-->
        <!--<h3 class="menu_head">工学</h3>-->
        <!--<div style="display:none" class="menu_body">-->
            <!--<a href="#">一般力学与力学基础</a>-->

        <!--</div>-->
    <!--</div>-->

    <!--<script>-->
        <!--$(document).ready(function(){-->
            <!--$("#firstpane .menu_body:eq(0)").show();-->
            <!--$("#firstpane h3.menu_head").click(function(){-->
                <!--$(this).addClass("current").next("div.menu_body").slideToggle(300).siblings("div.menu_body").slideUp("slow");-->
                <!--$(this).siblings().removeClass("current");-->
            <!--});-->
            <!--$("#secondpane .menu_body:eq(0)").show();-->
            <!--$("#secondpane h3.menu_head").mouseover(function(){-->
                <!--$(this).addClass("current").next("div.menu_body").slideDown(500).siblings("div.menu_body").slideUp("slow");-->
                <!--$(this).siblings().removeClass("current");-->
            <!--});-->
        <!--});-->
    <!--</script>-->


</aside>