{layout name="layout" /}
<h3 style="color: #000000" align="center">用户列表</h3>
<div style="height: 50px"></div>
<div style="float: right"><a href="{:url('admin/user/register')}">添加管理员</a></div>
<table class="table table-hover">
    <thead>
    <tr>
        <th>讯号</th>
        <th>邮箱</th>
        <th>用户名</th>
        <th>联系方式</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="users" id="item"}
    <tr>
        <td>{$key+1}</td>
        <td>{$item.email}</td>
        <td>{$item.user_name}</td>
        <td>{$item.phone}</td>
        <td><a href="#">明细</a></td>
    </tr>
    {/volist}
    </tbody>
</table>
