{layout name="layout" /}
<block name="title"><title>所有订单</title></block>
<block name="resources">

</block>

<style>
    .mytxt {
        color:#333;
        line-height:normal;
        font-family:"Microsoft YaHei",Tahoma,Verdana,SimSun;
        font-style:normal;
        font-variant:normal;
        font-size-adjust:none;
        font-stretch:normal;
        font-weight:normal;
        margin-top:0px;
        margin-bottom:0px;
        margin-left:0px;
        padding-top:4px;
        padding-right:4px;
        padding-bottom:4px;
        padding-left:4px;
        font-size:15px;
        outline-width:medium;
        outline-style:none;
        outline-color:invert;
        border-top-left-radius:3px;
        border-top-right-radius:3px;
        border-bottom-left-radius:3px;
        border-bottom-right-radius:3px;
        text-shadow:0px 1px 2px #fff;
        background-attachment:scroll;
        background-repeat:repeat-x;
        background-position-x:left;
        background-position-y:top;
        background-size:auto;
        background-origin:padding-box;
        background-clip:border-box;
        background-color:rgb(255,255,255);
        margin-right:8px;
        border-top-color:#ccc;
        border-right-color:#ccc;
        border-bottom-color:#ccc;
        border-left-color:#ccc;
        border-top-width:1px;
        border-right-width:1px;
        border-bottom-width:1px;
        border-left-width:1px;
        border-top-style:solid;
        border-right-style:solid;
        border-bottom-style:solid;
        border-left-style:solid;
    }
    .mytxt:focus {
        border: 1px solid #fafafa;
        -webkit-box-shadow: 0px 0px 6px #007eff;
        -moz-box-shadow: 0px 0px 5px #007eff;
        box-shadow: 0px 0px 5px #007eff;

    }
</style>

<ol class="breadcrumb">
    <li><a href="{:url('admin/index/index')}">首页</a></li>
    <li class="active">所有订单</li>
</ol>

<h3 style="color: #000000" align="center">所有订单</h3>

<div style="float: left;display: inline">
    <form action="" method="get">
        <input type="text" class="mytxt" placeholder="单号/姓名"/><button type="button" class="btn btn-default">搜索</button>
    </form>
</div>
<div style="float: right" class="btn btn-default">
    <select id="se_status" onchange="orderType()">
        <option id="op_all">所有订单</option>
        <option id="op_statu0">待付款</option>
        <option id="op_statu1">待捡货</option>
        <option id="op_statu2">待发货</option>
        <option id="op_statu3">配送中</option>
        <option id="op_statu4">货到付款</option>
        <option id="op_statu5">交易完成</option>
        <option id="op_statu6">退换货中</option>
        <option id="op_statu7">交易关闭</option>
        <option id="op_statu8">用户的删除订单</option>
    </select>
</div>
<div id="box_table_content"></div>
<table class="table table-hover">
    <thead>
    <tr class="info">
        <th>序号</th>
        <th>订单号</th>
        <th>下单时间</th>
        <th>收货人</th>
        <th>联系电话</th>
        <th>订单状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    {volist name="orders" id="item" key="key"}
    <tr>
        <td>{$key}</td>
        <td>{$item->getData('order_number')}</td>
        <td>{:date('Y年m月d日 H:i:s',$item->getData('order_time'))}</td>
        <td>{$item['address']['user_name']}</td>
        <td>{$item['address']['phone']}</td>
        <td>{$item->status}</td>
        <td>
            <a href="{:url('admin/order/orderDetailed?id='.$item->getData('id'))}">详细</a>
        </td>
    </tr>
    {/volist}
    </tbody>
</table>
<div>{$orders->render()}</div>

<script type="text/javascript">
    $(function () {
        var type = "{$type}";
        document.getElementById("op_" + type).selected = true;
    });
    function orderType() {
        //获取被选中的option标签
        var vsId = $('#se_status option:selected').attr("id");
        vsId = vsId.replace("op_", "");
//        alert(vsId);
        var url = "{:url('admin/Order/orderIndex?type=')}";
        var pot = url.indexOf(".");
        url = url.substring(0, pot);
        url = url + "/type/" + vsId;
//                                alert(url);
        window.location = url;
    }
</script>